<template name="errorPage">
  <div class="error-page full-height" style="margin-top:200px;">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="error-container text-center">
            <h1 class="error-number">{{errorCode}}</h1>
            <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
            <p>This page you are looking for does not exsist <a href="#">Report this?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
