<template name="feriasColetivasEdit">
{{#afModal class="btn btn-success btn-xs" title="<i class='fa fa-edit'></i> Editar" collection="FeriasColetivas" id="updateFeriasColetivasForm" operation="update" doc=_id}}
  <i class="fa fa-edit"></i>
{{/afModal}}

<!--
{{#with ferias}}
	{{#borderedContent title="Editar Férias Coletivas"}}
		{{#autoForm collection="Ferias" id="updateFeriasColetivasForm" type="update" doc=this}}

			{{> afQuickField name='data'}}

			<div class="form-group">
			    <button type="submit" class="btn btn-primary">      
			      Editar férias coletivas
			    </button>
			  </div>			
		{{/autoForm}}
	{{/borderedContent}}	
{{/with}}
-->
</template>