<template name="feriasColetivasAdd">
{{#afModal class="btn btn-primary" collection="FeriasColetivas" operation="insert" formId="insertFeriasColetivasForm"}}
  Adicionar Férias Coletivas
{{/afModal}}

<!--
{{#borderedContent title="Adicionar Férias Coletivas"}}
	{{#autoForm collection="Ferias" id="insertFeriasColetivasForm" type="insert"}}
		{{> afQuickField name='data'}}
		
		<div class="form-group">
		    <button type="submit" class="btn btn-primary">      
		      Criar férias coletivas
		    </button>
		  </div>			
	{{/autoForm}}
{{/borderedContent}}	
-->
</template>