<template name="sandbox">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        <img src="http://emsowue.cloudimg.io/s/crop/400x400/http://upload.wikimedia.org/wikipedia/commons/f/fc/Diffraction-red_laser-diffraction_grating_PNr%C2%B00126.jpg" />
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                                       $10
                                   </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">
                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
