<template name="technologyCard">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox product-box">
                    <div class="ibox-title">
                        <h5 class="product-name">Drone Delivery</h5>
                        <span class="label label-danger pull-right">RD 4</span>
                        <span class="label label-primary pull-right">IP 3</span>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="border-left-right">
                            <img src="http://emsowue.cloudimg.io/s/crop/400x400/http://si.wsj.net/public/resources/images/BN-AS240_gerdro_G_20131209114324.jpg" class="img-responsive" />
                        </div>
                        <div class="product-desc tooltip-demo">
                            <p>Relatively cheap drones with advanced sensors and imaging capabilities are giving farmers new ways to increase yields and reduce crop damage. Close monitoring of crops could improve water use and pest management.</p>
                            <h5>Tags</h5>
                            <td class="text-left">
                                <button class="btn btn-white btn-xs">drone</button>
                                <button class="btn btn-white btn-xs">uav</button>
                                <button class="btn btn-white btn-xs">Rag</button>
                                <button class="btn btn-xs btn-link"><i class="fa fa-plus-square"></i> Add</button>
                                <!-- To add a new tag -->
                            </td>
                            <h5>Other</h5>
                            <td class="text-left">
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="11 attachments"><i class="fa fa-paperclip"></i> 11</button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="04 organizations"><i class="fa fa-building"></i> 4</button>
                                <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="02 projects"><i class="fa fa-folder-o"></i> 2</button>
                                <!-- To add a new tag -->
                            </td>
                            <!-- Botões -->
                        </div>
                        <div class="ibox-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-outline btn-xs"><i class="fa fa-pencil-square"></i> Edit</button>
                                <button class="btn btn-default btn-outline btn-xs" type="button"><i class="fa fa-folder-o"> Add</i>
                                </button>
                                <button class="btn btn-default btn-outline btn-xs" type="button"><i class="fa fa-plus-square"> Collection</i>
                                </button>
                                <button class="btn btn-default btn-outline btn-xs" type="button"><i class="fa fa-plus-square"> Attachment</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
