<template name="orgAboutBox">
  {{#panelContainer class='float-e-margins org-card' }}
    {{#panelTitle}}
      <h3>
        <i class="{{Icons.collections.organizations}}"></i> {{name}}
      </h3>
      <div class="ibox-tools">
        <a href="#" id="org-edit">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    {{/panelTitle}}
    {{#panelContent}}
      {{#with logoImage}}
        <img src="{{url store='aboutBoxes'}}" class="img-responsive change-logo-image" alt="organization-img">
        {{else}}
          <img src="https://placehold.it/400x400" class="img-responsive change-logo-image" alt="organization-img">
      {{/with}}
    {{/panelContent}}
    {{#panelContent}}
      <table class="table">
        <tr>
          <td>Founding Year</td>
          <td>{{foundingYear}}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{{getCountryFlag country}}} {{getCountryName country}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{{formatOrgType type true}}}</td>
        </tr>
        <tr>
          <td>People</td>
          <td>
            {{#each keyPeople}}
              <a href="#">
                <img src="{{image}}" class="img-circle" alt="bill-gates">
              </a>
            {{/each}}
            <a href="#" class="btn add-people" id="add-people">
              <i class="fa fa-plus"></i>
            </a>
          </td>
        </tr>
      </table>
    {{/panelContent}}
  {{/panelContainer}}
</template>
