<template name="techCard">
  {{#unless isDeleted}}
    <div class="ibox">
      <div class="ibox-content no-padding card-label panel-{{techColor status}}">
        {{> techCardTools}}
        <a href="{{pathFor 'technologies.entry' id=_id}}">
        {{> safeImg url=(getCloudinaryCard (s3pathImages image)) class='img-responsive'}}
        </a> 
        <div class="card-description">
          {{> techCardDesc}}
          {{> techCardFooter}}
        </div>
      </div>
    </div>
  {{/unless}}
</template>
