<template name="userCard">
  {{#unless isDeleted}}
  <div class="contact-box">
    <div class="ibox-tools">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#" class="change-permissions"><i class="fa fa-key"></i> Change Permissions</a>
        </li>
        <li><a href="#" class="edit"><i class="fa fa-edit"></i> Edit</a>
        </li>
        <li><a href="#" class="delete"><i class="fa fa-trash"></i> Delete</a>
        </li>        
      </ul>
    </div>
    <a href="{{link}}">
      <div class="col-xs-4">
        <div class="text-center">
          {{> safeImg url=img class="img-circle m-t-xs img-responsive link"}}
          <div class="m-t-xs font-bold">
            {{#if username}}
              {{{username}}}
            {{/if}}
            {{#if role}}
              <p>{{{formatRole role true}}}</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <h3>
          {{#if Template.subscriptionsReady}}
            {{#with user.status}}
              {{#if online}}
                <i class='fa fa-circle' style='color:green;'></i>
              {{else}}
                <i class='fa fa-circle' style='color:red;'></i>
              {{/if}}
            {{/with}}
          {{/if}}
          {{#if fullName}}
            <strong>{{{fullName}}}</strong>
          {{/if}}
        </h3>
        {{#if affiliation}}
          <h4>{{affiliation}}</h4>
        {{/if}}
        <address>
          {{#if country}}
            <p> {{{getCountryFlag country}}} {{getCountryName country}}</p>
          {{/if}}
          {{#if email}}
            <p><i class='fa fa-envelope'></i> {{email}}</p>
          {{/if}}
          {{#if address}}
            <p><i class="fa fa-map-marker"></i> {{address}}</p>
          {{/if}}
          {{#if phone}}
            <p><i class='fa fa-phone'></i> {{phone}}</p>
          {{/if}}
          {{#if mobile}}
            <p><i class='fa fa-mobile'></i> {{mobile}}</p>
          {{/if}}
          {{#if Template.subscriptionsReady}}
            {{#with user.status}}
              {{#with lastLogin}}
                <p>
                  <b>Last login:</b> {{moFormat date 'DD MMM YYYY HH:mm:ss'}}
                </p>
          {{else}}
            <p>
              <i>Never logged in</i>
            </p>
              {{/with}}
            {{/with}}
          {{/if}}
        </address>
      </div>
      <div class="clearfix"></div>
    </a>
  </div>
  {{/unless}}
</template>
