<template name="userAboutBox">
  {{#panelContainer class='float-e-margins user-about-box' }}
    {{#panelTitle}}
      <h1>
        <i class="{{Icons.misc.user}}"></i> {{profile.fullName}}
      </h1>
      <div class='user-role' id='manage-user-role'>
        {{{formatRole role 'true'}}}
      </div>
    {{/panelTitle}}
    {{#panelContent panelClass='no-padding' }}
      <div class="profile-photo">
        {{#with profileImage}}
          {{#if $and isUploaded (hasStored 'images')}}
            {{> safeImg url=(c.url (cloudinaryId 'images') width='250' height='250' crop='fill' gravity='face') class="img-responsive profile-photo-image" width='250' height='250'}}
          {{/if}}
          {{else}}
            <img src="https://placehold.it/500x500" class="img-responsive profile-photo-image" alt="profile-img">
        {{/with}}
        <div class='change-profile-image'>
          <i class="fa fa-camera fa-2x update-picture-icon"></i>
          <a href="">Update Profile Picture</a>
        </div>
      </div>
    {{/panelContent}}
    {{#panelTitle}}
      <h1>
        <i class="fa fa-info"></i> Information
      </h1>
      {{#panelTools}}
        <a href="#" id="edit-info">
          <i class="fa fa-pencil"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      {{#with profile}}
        <ul class="unstyled pair-list">
          <li>
            <p>Affiliation:</p>
            <p>{{affiliation}}</p>
          </li>
          <li>
            <p>Country:</p>
            <p>{{{getCountryFlag country}}} {{getCountryName country}}</p>
          </li>
          <li>
            <p>Gender:</p>
            <p>
              {{{getGenderIcon gender}}} {{capitalizeFirstLetter gender}}</p>
          </li>
          <li>
            <p>Birthday:</p>
            <p>{{moFormat birth 'YYYY-MM-DD'}}</p>
          </li>
          <li>
            <p>Address:</p>
            <p><i class='fa fa-map-marker'></i> {{address}}</p>
          </li>
        </ul>
      {{/with}}
    {{/panelContent}}
    {{#panelTitle}}
      <h1>
        <i class="fa fa-globe"></i> Contact
      </h1>
      {{#panelTools}}
        <a href="#" id="edit-contact">
          <i class="fa fa-pencil"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      {{#with profile.contactInfo}}
        <ul class="unstyled pair-list">
          {{#if twitter}}
            <li>
              <i class="fa fa-twitter"></i>
              <p>{{twitter}}</p>
            </li>
          {{/if}}
          {{#if slack}}
            <li>
              <i class="fa fa-slack"></i>
              <p>{{slack}}</p>
            </li>
          {{/if}}
          {{#if github}}
            <li>
              <i class="fa fa-github"></i>
              <p>{{github}}</p>
            </li>
          {{/if}}
          {{#if skype}}
            <li>
              <i class="fa fa-skype"></i>
              <p>{{skype}}</p>
            </li>
          {{/if}}
          {{#if phone}}
            <li>
              <i class="fa fa-phone"></i>
              <p>{{phone}}</p>
            </li>
          {{/if}}
          {{#if mobile}}
            <li>
              <i class="fa fa-mobile"></i>
              <p>{{mobile}}</p>
            </li>
          {{/if}}
        </ul>
      {{/with}}
    {{/panelContent}}
    {{#panelTitle}}
      <h1>
        <i class="fa fa-book"></i> Bio
      </h1>
      {{#panelTools}}
        <a href="#" id="edit-bio">
          <i class="fa fa-pencil"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      {{#with profile}}
        <p>
          {{#if bio}}
            {{bio}}
          {{else}}
            <i>Not informed</i>
          {{/if}}
        </p>
      {{/with}}
    {{/panelContent}}
    {{#panelTitle}}
      <h1>
        <i class="fa fa-cog"></i> Configuration
      </h1>
    {{/panelTitle}}
    {{#panelContent}}
      <button class="btn btn-danger btn-block" id="delete-user"> Delete User </button>
    {{/panelContent}}
  {{/panelContainer}}
</template>
<template name="s">
  {{#if th}}
    {{text}}
  {{else}}
    <i>Not informed</i>
  {{/if}}
</template>
