<template name="attachmentsCard">
  {{#unless isDeleted}}
    <div class="ibox card-box">
      <div class="ibox-content no-padding">
        {{> attachmentsCardTools}}
        <a href="{{pathFor 'attachments.entry' _id=_id}}">
        {{> safeImg url="http://res.cloudinary.com/envisioning/image/upload/c_fill,g_center,h_400,w_600/v1/s3-staging/images/5gzKXx88PgezXc4ua" class="img-responsive"}}
        </a> 
        <div class="card-body">
          {{> attachmentsCardDesc}}
          {{> attachmentsCardFooter}}
        </div>
      </div>
    </div>
  {{/unless}}    
</template>