<template name="usersDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          <div class="search-source-display-mode">
            {{> searchSource source=SearchSources.userSearch options=getOptions}} 
            {{> searchDisplayMode id='userSearch'}}
          </div>
          <div class="row grid-view">
            <div class="col col-xs-12">
              {{#if $eq (getSearchDisplayMode 'userSearch') 'list'}}
                {{#each users}}
                  <h5> placeholder for listView </h5>
                {{/each}}
              {{/if}}
              {{#if $eq (getSearchDisplayMode 'userSearch') 'grid'}}
                <div class="row">
                  {{#each users}}
                    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 animated fadeInRight">
                      {{> userCard 
                        _id=_id
                        email=emails.[0].address
                        username=username
                        img=(getUserThumb (s3pathImages profile.imageId))
                        fullName=fullName
                        affiliation=profile.affiliation
                        address=profile.address
                        role=roles.[0]
                        country=profile.country
                        phone=profile.contactInfo.phone
                        mobile=profile.contactInfo.mobile
                        link=getLink
                        }}
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='userDashboard' selector=userRecentUpdatesSelector initialCount=10 countIncrement=5}}
    </div>
  </div> 
</template>

