<template name="organizationsDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          {{> searchSourceDisplay source=SearchSources.globalSearch types="organizations" displayMode='orgSearch'}}
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='org' selector=orgSelector initialCount=10 countIncrement=5}}
    </div>
  </div>
</template>
