<template name="uploadFile">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent icon='fa fa-photo' title='Upload file' subtitle='Select an image from your PC or take a new photo with your webcam'}}
    {{/modalHeader}}  
    {{#modalBody}}
      <div class='user-change-image'>
        {{#if currentImage}}
          {{#if crop}}
            {{> cropImage image=currentImage getCropper=getCropper aspectRatio=aspectRatio}}
          {{else}}
            <img src="{{currentImage}}">
          {{/if}}
        {{else}}
          Select an Image
        {{/if}}
        <button class="file-upload btn btn-primary btn-large" id='select-image'>
          <i class="fa fa-folder-open"></i>
          <input type="file" class="upload" accept="image/*" />
        </button>
        <button class="btn btn-primary btn-large" id='take-photo'>
          <i class="fa fa-camera"></i>
        </button>
        {{#if Template.subscriptionsReady}}
          {{#with FS.GetFile "images" uploadingImage}}
            {{> FS.UploadProgressBar bootstrap=true}}
          {{/with}}
        {{else}}
          <p>Please wait...</p>
        {{/if}}
      </div>
    {{/modalBody}}
    {{#modalFooter}}
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="upload-image">Upload</button>
    {{/modalFooter}}
  {{/modal}}
</template>
