<template name="mainDashboard">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
          {{> technologiesDashboardStat}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
          {{> projectsDashboardStat}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
          {{> organizationsDashboardStat}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-6">
          {{> attachmentsDashboardStat}}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12">
          {{> recentUpdates counterId='mainDashboard' hasIcon=true getColor=getColor}}
        </div>
      </div>
    </div>
  </div>
</template>
