<template name="projectsEdit">
    {{#if subsReady 'project'}}
        {{#with project}}
            {{#panel title="Edit Project" }}
                {{#autoForm collection="Projects" id="updateProjectsForm" doc=this type="update" class="form-horizontal"}}
                    {{> afQuickField name="nome" label-class="col-sm-3" input-col-class="col-sm-9"}} 
                    {{> afQuickField name="ordem" label-class="col-sm-3" input-col-class="col-sm-9"}} 
                    {{> afQuickField name="avatar" label-class="col-sm-3" input-col-class="col-sm-9"}} 
                    {{> afQuickField name="abreviacao" label-class="col-sm-3" input-col-class="col-sm-9"}}
                    {{> submit texto="Save" buttonClass="col-sm-9" offsetClass="col-sm-offset-3"}}
                {{/autoForm}}
            {{/panel}}
        {{/with}}
    {{else}}
        {{> spinner}}
    {{/if}}
</template>
