<!-- Inicio Anexo -->
<div class="cards-item">
  <div class="ibox technology-box">
    <div class="ibox-content no-padding techLabel">
      <div class="technologyTools">
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-xs btn-white dropdown-toggle" aria-expanded="false"><i class="fa fa-paperclip"></i> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Add to Project</a>
            </li>
            <li>
              <a href="#">Add to Technology</a>
            </li>
            <li>
              <a href="#">Add an Organization</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a href="#">Edit</a>
            </li>
            <li>
              <a href="#">Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <a href="attachmentEntry.php"><img src="../images/attachment.jpg" class="img-responsive" /></a>
      <div class="technology-desc">
        <div>
          <a href="attachmentEntry.php"><h5 href="#" class="technology-name">Sky Blue Sky</h5></a>
        </div>
        <p>This is a relly nice picture I took a few days ago.</p>
        <div class="btn-group">
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Entry"><a href="attachmentEntry.php"><i class="fa fa-eye"></i></a></button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Status is Published">Media</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="11 technologies"><i class="fa fa-database"></i> 11</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="04 organizations"><i class="fa fa-building"></i> 4</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="02 projects"><i class="fa fa-folder-o"></i> 2</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Anexo -->
