  <div class="ibox card-box cards-item">
    <div class="ibox-content no-padding card-label">
      <div class="card-tools">
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-xs btn-white dropdown-toggle" aria-expanded="false"><i class="fa fa-paperclip"></i> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Add to Project</a></li>
            <li><a href="#">Add to Technology</a></li>
            <li><a href="#">Add an Organization</a></li>
            <li class="divider"></li>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
      <a href="attachmentEntry.php"><img src="{{src}}" class="img-responsive" /></a>
      <div class="card-description">
          <h5 class="card-name"><a href="attachmentEntry.php">{{name}}</a></h5>
        <p>{{description}}</p>
        <div class="btn-group">
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Entry"><a href="attachmentEntry.php"><i class="fa fa-eye"></i></a></button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Status is Published">{{type}}</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="11 technologies"><i class="fa fa-gear"></i> 11</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="04 organizations"><i class="fa fa-building"></i> 4</button>
          <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="02 projects"><i class="fa fa-folder-o"></i> 2</button>
        </div>
      </div>
    </div>
  </div>