<div class="ibox card-box cards-item">
  <div class="ibox-content no-padding card-label">
    <img src="images/project.png" class="img-responsive" />
    <div class="card-description">
      <h5 class="card-name"><span class="card-id">EV0091</span> Futuro da Medicina</h5>
      <p>Futuro da Medicina is a content platform that is being developed for OneHealth since 2013. It started with some visualizations back in 2011. Our main contact is Dr. Sergio, CEO.</p>
    </div>
  </div>
</div>