<!-- Começo Projeto -->
<div class="cards-item">
    <div class="ibox technology-box">
        <div class="ibox-content no-padding techLabel">
            <a href="projectEntry.php"><img src="{{src}}" class="img-responsive" /></a>
            <div class="technology-desc">
                <div>
                    <h5 class="technology-name"><span class="card-id">{{evID}}</span> {{name}}</h5></a>
                </div>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
</div>
<!-- Fim projeto -->