<div class="ibox card-box cards-item">
  <div class="ibox-content no-padding card-label Draft">
    <img src="http://emsowue.cloudimg.io/s/crop/500x300/http://si.wsj.net/public/resources/images/BN-AS240_gerdro_G_20131209114324.jpg"
      class="img-responsive" />
    <div class="card-description">
      <h5 class="card-name"><span class="card-id">T0021</span> <span id="22aphY63CBfWzzHPD_tech">Drone Delivery</span></h5>
      <p>Relatively cheap drones with advanced sensors and imaging capabilities are giving farmers new ways to increase yields
        and reduce crop damage</p>
    </div>
  </div>
</div>
