<template name="technologiesInformationForm">
	<div data-template="technologies-information-form">
		{{#autoForm
		  id=options.id
		  class="form-horizontal"
		  collection="Technologies"
		  doc=options.doc
		  type=options.type
		  autosave=options.autosave
		  meteormethod=options.meteormethod 
		  singleMethodArgument=options.singleMethodArgument}}

		  {{> afQuickField name="techId" label-class="col-sm-2" input-col-class="col-sm-10" disabled="true" type="hidden"}}
		  
		  {{> afQuickField name="name" label-class="col-sm-2" input-col-class="col-sm-10"}}  
		  <div class="col-sm-10 col-sm-offset-2" style="margin-top:-20px">
		    <ol>
		        <li>Use "Title Case": <i>Capitalize All Important Words</i>.</li>
		        <li>Avoid plural titles: <i>"Solar Panels", "Self-driving Vehicles"</i></li>
		        <li>Avoid empty words: <i>"Smart Car", "Next-gen Keychain", "Health 3.0"</i></li>
		        <li>Avoid product names: <i>"Powerwall" → "Wall-mounted Household Battery"</i></li>
		      </ol>
		  </div>
		  {{> afQuickField name="synonyms" label-class="col-sm-2" input-col-class="col-sm-10"}} 
		  <div class="col-sm-10 col-sm-offset-2" style="margin-top:-37px; padding-left:5px">
		    <span class="help-block m-b-none">
		      These are alternate names for this technology. They will be accessible via search.
		    </span>
		  </div>

		  {{> afQuickField name="images" label-class="col-sm-2" input-col-class="col-sm-9"}} 

		  {{> afQuickField name="tags" label-class="col-sm-2" input-col-class="col-sm-10"}} 
		  <div class="col-sm-10 col-sm-offset-2" style="margin-top:-37px; padding-left:5px">
		    <span class="help-block m-b-none">
		      These will be used to correlate with other technologies.
		    </span>
		  </div>
		{{/autoForm}}      
	</div>
</template>