<template name="fornecedores">
	{{#borderedContent title="Fornecedores"}}
		{{> tabular table=TabularTables.Fornecedores class="table table-striped table-bordered table-hover" id="fornecedoresDT"}}
	{{/borderedContent}}
</template>


<template name="fornecedoresAcoes">
	<a class="btn btn-success btn-xs" href="{{pathFor 'fornecedores.edit' id=_id}}"><i class="fa fa-edit"></i></a>
	{{#quickRemoveButton collection="Fornecedores" _id=_id class="btn btn-danger btn-xs" beforeRemove=beforeRemove}}<i class="fa fa-trash"></i>{{/quickRemoveButton}}
</template>