<template name="briefCard">
  {{#panelContainer class='product-box brief-card'}}
    {{#panelContent class='no-padding'}}
      <div class="brief-img">
        <div class="icon-brief-box">
          <i class="{{icon}} fa-2x"></i>
        </div>
        <img src="{{img}}" class="img-responsive" alt="brief-image">
      </div>
    {{/panelContent}}

    {{#panelContent class=getClass}}
      <div class="title-tools">
        <h3 class='link'>{{shortIt title 50}}</h3>
        {{#panelTools}}
          <a href="#" class="edit">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="#" class="delete">      
            <i class="fa fa-trash"></i>
          </a>
        {{/panelTools}}        
      </div>
      <h5>{{{subtitle}}}</h5>
      <p>{{{description}}}</p>
    {{/panelContent}}
  {{/panelContainer}}
</template>