<template name="dashboardStat">
  <div class="dashboard-stat">
    {{#panelContainer}}
      {{#panelTitle}}
        <h2>
          <i class="{{icon}}"></i> {{title}}
         </h2>
      {{/panelTitle}}
      {{#panelContent}}
        <a href="{{pathFor pathForAdd}}" class="btn btn-primary"> 
          Add a new {{pluralize title 1}} 
        </a>
        <hr>
        <p>We have <b>{{total}}</b> {{title}} on TDB</p>
        <hr> 
        {{> UI.contentBlock}}
      {{/panelContent}}
    {{/panelContainer}}
  </div>
</template>
