<template name="smartInputFile">
  <div id="smart-input-file">
    <div class="input-group">
      <input type="text" class="form-control file-path" value= {{fileNameText}} readonly>
      <span class="input-group-btn">
        {{#unless isUploading}}
          <span id="btn-file" class="btn btn-default browse">
              {{btnFileText}} <input type="file">
          </span>
      {{else}}
        <span class="btn btn-danger cancel">
            Cancel upload...
          </span>
        {{/unless}}
        {{#unless uploadOnFileSelected}}
          {{#if isFileSelected}}
            {{#unless isUploading}}
              <button class="btn btn-primary btn-upload" data-loading-text="Uploading file...">
                Upload file
              </button>
            {{/unless}}
          {{/if}}
        {{/unless}}
        </span>
    </div>
  </div>
</template>
