<template name="collectionsEdit">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent title="Edit Collection" icon="fa fa-plus" subtitle="You must save changes before closing."}}
    {{/modalHeader}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm 
        collection="Collections" 
        id="updateCollectionsForm" 
        type="method-update" 
        meteormethod="Collections.methods.update" 
        singleMethodArgument=true
        class="form-horizontal"
        doc=collection}}
        {{#modalBody}}
          {{> afQuickField name="name" label-class="col-sm-2" input-col-class="col-sm-9"}} 
          {{> afQuickField name="description" label-class="col-sm-2" input-col-class="col-sm-9"}} 
        {{/modalBody}}
        {{#modalFooter}}
          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>      
        {{/modalFooter}}
      {{/autoForm}}
    {{/if}}
  {{/modal}}  
</template>