/* Only demo */

@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.close-canvas-menu {
  display: none;
}

.canvas-menu .close-canvas-menu {
  display: block;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.logo-login {
  width: 300px;
  height: auto;
}

.middle-box {
  padding-top: 120px;
}

.mini-navbar .nav-second-level {
  //background: red;
}

.nav > li > a {
  //color: @text-color;
}

.modal-body {
  overflow: visible !important;
}


/*Making this global, since it will be used in many other places*/

.ibox-title {
  .flex;
  .y-center-flex;
  .x-between-flex;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    /*To align icon with heading tag inside the same line*/
    float: left;
    /*To align heading tags inside ibox-title that has ibox-tools as well*/
    /*Just setting a default size, that way you can set heading tag by semantic meaning without changing the layout*/
    font-size: 16px;
  }
  i {
    margin: 0 7px;
  }
}

.search-bar {
  //border-radius: 70px;
}

.slide-left {}

.body-small {
  .top-navbar, .page-heading {
    margin-left: 0px;
  }
  .ibox {
    margin-bottom: 0px;
  }
  .wrapper {
    padding: 0px;
  }
  .wrapper-content {
    padding: 0px;
  }
  #page-wrapper {
    padding: 0px;
  }
}
