/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.at-error{
	background-color:@red;
	color:white;

}
.close-canvas-menu {
  display: none;
}

.canvas-menu .close-canvas-menu {
  display: block;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.loginscreen.middle-box {
	p{
		color: white;
	}
  	h3{
  		color:white;
  	}
}





.breadcrumb{
	a.active{
		font-weight:bold;
	}
	li{
		p{
			color:@navy;
			font-weight:bold;
		}		
	}

}



.image-circle{
	border-radius:5px;
}