/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.close-canvas-menu {
  display: none;
}

.canvas-menu .close-canvas-menu {
  display: block;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.logo-login{
  width:300px;
  height:auto;
}

.middle-box{
  padding-top:120px;
}



.mini-navbar .nav-second-level {
  //background: red;
}

.nav > li > a {
  //color: @text-color;
}



.ibox-title {
  .flex;
  .y-center-flex;
  .x-between-flex;

  h1, h2, h3, h4, h5, h6 {
    display: inline-block; /*To align icon with heading tag inside the same line*/
    float: left;
  }
  i { margin: 0 5px;}
}