[data-template="technologies-information-form"], [data-template="technologies-edit-page"] {
  .autoform-tags-field {
    .bootstrap-tagsinput {
      .tag.label.label-info {
        background-color: #467ec1 !important;
      }
    }
  }
  .help-block {
    margin-top: 12px;
  }
  .col-sm-3 {
    padding: 5px;
    height: 180px;
    width: 180px;
  }
  .form-group-images {
    .row {
      margin-left: 0px;
    }
  }
}
