[data-template="technologies-information-form"] {
  .autoform-tags-field {
    .bootstrap-tagsinput {
      .tag.label.label-info {
        background-color: #467ec1 !important;
      }
    }
  }
  .help-block {
    margin-top: 12px;
  }
  .col-sm-3 {
    padding: 5px;
    height: 180px;
    width: 180px;
  }
  .upload-image-box {
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 2px dotted #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
