<template name="manageUserRole">
  {{#manageModal icon=Icons.collections.users title='Manage User Groups' }}
    {{#if Template.subscriptionsReady}}
      {{> searchSource source=SearchSources.userSearch options=getOptions}}
      
        <table class="table manage-table">
          <tbody>
            {{#each users}}
              {{>manageUserRoleItem 
                _id=_id
                username=username 
                emails=emails 
                fullName=profile.fullName 
                img=(getUserThumb (s3pathImages profile.imageId))
                role=getRolesForUser}}
            {{/each}}
          </tbody>
        </table>
      
    {{else}}
      {{> spinner}}
    {{/if}}
  {{/manageModal}}
</template>
