<template name="manageUserRoleItem">
  <tr class="manage-table-item">
    <td>
      {{> safeImg url=img class="img-circle"}}
<!--      <img src="{{img}}" class="img-circle" alt="user-img">-->
      
    </td>
    <td>
      <a href="#" class="text-info">{{{getDisplayName}}}</a>
    </td>
    <td>
      {{#each roles}}
        <button class="btn btn-{{btnColor}} btn-xs set-role" type="button">
          <i class="{{getIcon}}"></i>
        </button>
      {{/each}}         
    </td>
  </tr>
</template>
