  <template name="collectionsBoard">
  <div class="collections-board">
    <!-- Collections -->
    {{#perfectScrollbar}}
      <div class="top-collections">
        {{#each collections}}
          {{#panelContainer class="collection-card"}}
            {{#panelTitle}}
              <h3>{{name}}</h3>
              {{#panelTools}}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Edit Title</a></li>
                  <li><a href="#">Edit Description</a></li>
                  <li><a href="#" data-action="add-sub-collection">Add SubCollection</a></li>
                </ul>
              {{/panelTools}}
            {{/panelTitle}}        
            {{#panelContent}}
              <p>{{description.longText}}</p>
              <!-- Sub Collections -->
              <!-- {{#perfectScrollbar}} -->
                <div class="sub-collections-board" >              
                  {{#each childCollections}}
                    {{#panelContainer class="sub-collection-card"}}
                      {{#panelTitle}}
                        <h3>{{name}}</h3>
                      {{/panelTitle}}  
                      {{#panelContent}}      
                        <p>{{description.longText}}</p>
                        <!-- Technologies of Sub Collection -->
                        {{> subCollectionsDragArea
                          drake=getDrake
                          collectionId=_id
                          technologiesId=technologiesId}}
                      {{/panelContent}}
                      {{#panelFooter}}
                        {{#panelTools}}
                          <a data-action="delete-collection" data-type='sub-collection'>
                            <i class="fa fa-trash"></i>
                          </a>
                        {{/panelTools}}
                      {{/panelFooter}}                      
                    {{/panelContainer}}
                  {{/each}}
                </div>
              <!-- {{/perfectScrollbar}} -->
            {{/panelContent}}
            {{#panelFooter}}
              {{#panelTools}}
                <a data-action="delete-collection" data-type='collection'>
                  <i class="fa fa-trash"></i>
                </a>
              {{/panelTools}}
            {{/panelFooter}}             
          {{/panelContainer}}
        {{/each}}
      </div>
    {{/perfectScrollbar}}
  </div>  
</template>

<template name="deleteDragArea">
    <a class="delete-drag-area">
      <i class="fa fa-trash"></i>
    </a>
</template>

<template name="subCollectionsDragArea">
  <div class="sub-collection-drag-area" data-drag="collection" data-collection="{{collectionId}}">
    {{#each technologiesId}}
      {{#with getTechnology}}
        {{> miniTechCard}}
      {{/with}}
    {{/each}}
  </div>
</template>

  <template name="collectionsBoard_panelVersion">
  <div class="collections-board">
    <!-- Collections -->
    {{#perfectScrollbar}}
      <div class="top-collections">
        {{#each collections}}
          <!-- {{#panelContainer class="collection-card"}} -->
          <div class="panel panel-default collection-card">
            <!-- {{#panelTitle}} -->
            <div class="panel-heading">
              <!-- <h3>{{name}}</h3> -->
              {{name}}
              <!-- {{#panelTools}}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Edit Title</a></li>
                  <li><a href="#">Edit Description</a></li>
                  <li><a href="#" class="add-sub-collection">Add SubCollection</a></li>
                </ul>
              {{/panelTools}} -->
            </div>
            <!-- {{/panelTitle}}     -->    
            <!-- {{#panelContent}} -->
            <div class="panel-body">
              <p>{{description.longText}}</p>
              <!-- Sub Collections -->
                <div class="sub-collections-board" >              
                  {{#each childCollections}}
                    {{#panelContainer class="sub-collection-card"}}
                      {{#panelTitle}}
                        <h3>{{name}}</h3>
                      {{/panelTitle}}  
                      {{#panelContent}}      
                        <p>{{description.longText}}</p>
                        <!-- Technologies of Sub Collection -->
                        {{> subCollectionsDragArea
                          drake=getDrake
                          collectionId=_id
                          technologiesId=technologiesId}}
                      {{/panelContent}}
                    {{/panelContainer}}
                  {{/each}}
                </div>
            <!-- {{/panelContent}} -->
            </div>
          <!-- {{/panelContainer}} -->
          </div>
        {{/each}}
      </div>
    {{/perfectScrollbar}}
  </div>  
</template>
