<template name="collectionsSetList">
  <div class="ibox">

    <h2>
      Collection Sets 
      <button class="btn btn-primary add-collection-set">
        <i class="fa fa-plus"></i> New
      </button> 
    </h2>
  </div>
  <div class="row-fluid">
    {{#if collectionsSet.count}}
      {{#each collectionsSet}} 
        {{> collectionsSetItem}} 
      {{/each}}
    {{else}}
        <div class="empty-message">
          <i class='fa fa-frown-o'></i>
          <h3>
            Empty Collections Set
          </h3>
        </div> 
    {{/if}}    
  </div>
</template>
