<template name="collectionsSet">
  <div class="ibox">
    <h2>Collection Sets</h2>
  </div>
  <div class="row-fluid">
    <div class="ibox collection-ibox">
      <div class="ibox-title">
        <h2>Taxonomy</h2>
        <div class="ibox-tools">
          <a href="#/projects/collection">Browse</a>
        </div>
      </div>
      <div class="ibox-content collectionSetBox">
        <p>This is what goes inside</p>
        <div class="panel panel-default">
          <div class="panel-heading">Energy</div>
          <div class="panel-body">
            <p>The capacity for being fast and efficient can mean success or failure in the field. With more resources requiring
              electricity to operate escalating demands should be quelled. Acquiring energy, transmitting energy, and effective
              use of energy gives an edge in deployed assets for their ability to remain self-sufficient and reduce expenditures
              on unnecessary losses.</p>
            <ul class="sortable-list connectList agile-list ui-sortable">
              <li class="ui-sortable-handle">Efficiency <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
              <li class="ui-sortable-handle">Management <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
              <li class="ui-sortable-handle">Propulsion <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
              <li class="ui-sortable-handle">Storage <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="ibox-tools">
              <a href="#" alt="Edit Collection"><i class="fa fa-edit"></i></a>
              <a href="#" alt="Copy collection"><i class="fa fa-copy"></i></a>
              <a href="#" alt="Delete Collection"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">IT &amp; Systems</div>
          <div class="panel-body">
            <p>The capacity for being fast and efficient can mean success or failure in the field. With more resources requiring
              electricity to operate escalating demands should be quelled. Acquiring energy, transmitting energy, and effective
              use of energy gives an edge in deployed assets for their ability to remain self-sufficient and reduce expenditures
              on unnecessary losses.</p>
            <ul class="sortable-list connectList agile-list ui-sortable">
              <li class="ui-sortable-handle">Communications <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
              <li class="ui-sortable-handle">Computation <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
              <li class="ui-sortable-handle">Internet of Things <a href="#" class="pull-btn pull-right btn-xs btn-white"> 2</a></li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="ibox-tools">
              <a href="#" alt="Edit Collection"><i class="fa fa-edit"></i></a>
              <a href="#" alt="Copy collection"><i class="fa fa-copy"></i></a>
              <a href="#" alt="Delete Collection"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
