<template name="collectionsSetEntry">
  {{#with collectionsSet}}
  <div class="row collections-set-entry">
    <div class="col col-sm-3 no-padding">
      {{#with project}}
        {{> techStash 
          drake=drake
          style="vertical"
          projectId=_id}}
      {{/with}}
    </div>

    <div class="col col-sm-9">
      {{> collectionsBoard
        collections=collections
        drake=drake
      }}
    </div>
  </div>
  {{/with}}

  <div class="row">
    <div class="col col-sm-12">
      <button class="btn btn-success new-collection">New Collection</button>
    </div>
  </div>  
</template>
