<template name="usersDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          {{> searchSourceDisplay source=SearchSources.userSearch types="users" displayMode='userSearch'}}
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='userDashboard' selector=userRecentUpdatesSelector initialCount=10 countIncrement=5}}
    </div>
  </div> 
</template>

