<template name="recentUpdates">
  {{#panelContainer class='float-e-margins recent-updates' }}
    {{#panelTitle}}
      <h1>
        <i class="{{Icons.misc.updates}}"></i>
        Recent Updates
      </h1>
    {{/panelTitle}}
    {{#panelContent}}
      {{#if totalCount}}
        {{> scrollbarList logs=logs}}
      {{else}}
        <div class="empty-message">
          <i class='fa fa-frown-o'></i>
          <h3>
            No recent updates
          </h3>
        </div>
      {{/if}}
    {{/panelContent}}
    {{#panelFooter}}
      <span class="pull-right">
        <a class="text-info" id='view-more'>
          View more... ({{displayCount}} / {{totalCount}})
        </a>
      </span>
      <a class='text-info' id='view-less'>
        View less
      </a>
    {{/panelFooter}}
  {{/panelContainer}}
</template>
<template name="scrollbarList">
  <!--<div class="scrollbar-recent-updates">-->
  {{#perfectScrollbar}}
    <ul class="list-group">
      {{#each logs}}
        {{> recentUpdatesItem}}
      {{/each}}
    </ul>
    {{/perfectScrollbar}}
    <!--</div>-->
</template>
