<template name="searchSourceDisplay">
  <div class="search-source-display-mode">
    {{> searchSource source=source options=options}} 
    {{> searchDisplayMode id=displayMode}}
  </div>
  <div class="row grid-view">
    <div class="col col-xs-12">
      {{#if $eq (getSearchDisplayMode displayMode) 'list'}}
        Placeholder for ListView
      {{/if}}
      {{#if $eq (getSearchDisplayMode displayMode) 'grid'}}
        <div class="row">
          {{> searchResults results}}
        </div>
      {{/if}}
    </div>
    {{#if hasMoreResults}}
      <!-- TODO: fix inline css -->
      <div class="col-xs-12" style="text-align: center">
        <button class="btn btn-default load-more">Load More</button>
      </div>
    {{/if}}
  </div>
</template>
