.alertify .ajs-dialog{
	z-index:9999999 !important
}
.text-green{
	color:#11aa11
}
.text-god{
	color:#22afe2;
}

.page-heading{
	padding-bottom:10px !important;

	h2{
		margin-top:14px;
	}
}
.dataTables_paginate {
	margin-top:20px !important;
}

div.dataTables_wrapper  {
	padding-top:0px;
}

div.dataTables_info{
	padding-top:0px;
}
