<template name="manageUserRole">
  <div class="modal inmodal manage-user-role">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <i class="{{Icons.collections.users}} modal-icon"></i>
          <h4 class="modal-title">Manage User Groups</h4>
        </div>
        <div class="modal-body">
          {{> searchSource source=SearchSources.userSearch options=getOptions}}
          {{#perfectScrollbar}}
            <table class="table">
              <tbody>
                {{#each users}}
                  {{>manageUserRoleItem 
                  username=username
                  emails=emails 
                  fullName=fullName
                  _id=_id 
                  role=getRolesForUser}}
                {{/each}}
              </tbody>
            </table>
          {{/perfectScrollbar}}
        </div>
      </div>
    </div>
  </div>
</template>
