<!--
<template name="manageUserRoleItem">
  <div class="manage-user-item">
    <div class="row">
      <div class="col-xs-2 img-column">
        <img src="https://lh3.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAAA/3rh5IMTHOzg/photo.jpg" class="img-circle" alt="user-img">
      </div>
      <div class="col-xs-4 user-column">
        <a href="#" class="text-info">@{{{username}}}</a>
      </div>
      <div class="col-xs-6 buttons-column">
        <button class="btn btn-primary" type="button">Admin</button>
        <button class="btn btn-primary" type="button">Editor</button>
        <button class="btn btn-primary" type="button">Viewer</button>
      </div>
    </div>
  </div>
</template>
-->
<template name="manageUserRoleItem">
  <tr class="manage-user-role-item">
    <td>
      <img src="https://lh3.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAAA/3rh5IMTHOzg/photo.jpg" class="img-circle" alt="user-img">
    </td>
    <td>
      <a href="#" class="text-info">@{{{username}}}</a>
    </td>
    <td>
      <button class="btn btn-{{adminColor}} btn-xs" type="button">
        <i class={{Icons.roles.admin}}></i>
      </button>

      <button class="btn btn-{{editorColor}} btn-xs" type="button">
        <i class={{Icons.roles.editor}}></i>
      </button>
      <button class="btn btn-{{viewerColor}} btn-xs" type="button">
        <i class={{Icons.roles.viewer}}></i>
      </button>            
    </td>
  </tr>
</template>
