.user-about-box {
  /*Settins for the animation on Update Profile Picture*/
  .profile-photo {
    max-width: 250px;
    margin: auto;
    position: relative;
  }
  .change-profile-image {
    .flex;
    .y-center-flex;
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.7;
    a {
      color: #fff;
      font-weight: 600;
      display: none;
    }
  }
  i.update-picture-icon {
    color: @update-picture-icon-color-user-about-box;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  /*Settings for the data list*/
  .about-box;
}
