<template name="searchRemoteFile">
  <div id="search-remote-file">
    <div class="input-group">
      <span class="input-group-addon">
        <i class='fa fa-search'></i>
      </span>
      <input class="form-control" placeholder="Directly remote file url. (Ex. http://envisioning.io/about.pdf)" type="text" id="search-remote-url">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-download" data-loading-text="Downlading file..." {{disabled}}>Download file</button>
      </span>
    </div>
    <!--
     {{#autoForm schema=Schemas.Search id="search-remote-file-form" validation="keyup"}}
      <div class="input-group">
        <span class="input-group-addon">
        <i class='fa fa-search'></i>
      </span> 
      {{> afQuickField name="url" type="url" class="form-control" placeholder="Directly remote file url. (Ex. http://envisioning.io/about.pdf" id="search-remote-url" label="false"}}
        <span class="input-group-btn">
        <button type="button" class="btn btn-primary btn-download" {{disabled}}>{{dataLoadingText}}</button>
      </span>
      </div>
    {{/autoForm}} -->
  </div>
</template>
