<template name="searchRemoteFile">
  <div id="search-remote-file">
    <div class="input-group">
      <span class="input-group-addon">
        <i class='fa fa-search'></i>
      </span>
      <input class="form-control" placeholder="Directly remote file url. (Ex. http://envisioning.io/about.pdf)" type="text" id="search-remote-url">
      <span class="input-group-btn">
       	<button type="button" class="btn btn-primary btn-download">Download file</button>
      </span>
    </div>
    <div class="metadata">
    </div>
  </div>
</template>
