<template name="technologiesInformationCard">
  <div class="ibox card-box cards-item" data-template="technologies-information-card">
    <div class="ibox-content no-padding card-label {{status}}">
    	{{> safeImg 
    		url=(getCloudinaryCard (s3pathImages getShowcasedImage.src))
    	  class="img-responsive" }}
      <div class="card-description">
        <h5 class="card-name">
        	<span class="card-id">{{techId}}</span> 
        	<span>{{name}}</span>
        </h5>
        <p>{{getPublishedDescription.shortText}}</p>
      </div>
    </div>
  </div>
</template>
