<template name="usersViewInfo">
	<div class="row">
		<div class="col-lg-4">
			<address>
				<strong>Grupo</strong><br>
				{{{formatarRole role}}}
			</address>                    		
			<address>
				<strong>Setor</strong><br>	
				{{#with setor}}
				{{> nameLink}}
				{{/with}}
			</address>
			<address>
				<strong>Cargo</strong><br>
				{{#with cargo}}
				{{> nameLink}}
				{{/with}}
			</address> 
			<address>
				<strong>Status</strong><br>
				{{formatarStatus info.status}}
			</address>  		                        
		</div>
		<div class="col-lg-4">
			<address>
				<strong>Salário</strong><br>	
				{{formatarReais info.salario}}
			</address>
			<address>
				<strong>VA</strong><br>
				{{formatarReais info.va}}
			</address>
			<address>
				<strong>VR</strong><br>
				{{#with cargo.classificacao}}
				{{formatarReais vr}} ({{nome}})<br>
				{{/with}}
				
			</address>  
			<address>
				<strong>VT</strong><br>
				{{#with transporte}}
					{{formatarReais valor}} ({{nome}})<br>
				{{/with}}
			</address>  		                        
		</div>
		<div class="col-lg-4">
			<address>
				<strong>Admissão</strong><br>	
				{{formatarData info.admissao}}
			</address>
			<address>
				<strong>Convidado em</strong><br>
				{{formatarDataHorario criadoEm}}
			</address> 
			<address>
				<strong>Ativou em</strong><br>
				{{formatarDataHorario info.ativouEm}}
			</address>		                        
			<address>
				<strong>Convidado por</strong><br>
				{{criadoPor.nome}}
			</address>                
		</div>                    		                    		
	</div>
</template>