<template name="usersFerias">
	<div class="users-ferias">
		<div class="row">
			<div class="col-lg-6">
				<strong>Férias coletivas</strong>
			</div>
			<div class="col-lg-6">
				{{#with feriasColetivasGozadas}}
					<strong>Períodos</strong>
						<span class="pull-right">{{periodos}}</span><br>
					<strong>Dias</strong>
						<span class="pull-right text-danger">-{{dias}}</span>
				{{/with}}
			</div>			
		</div>		
		<br>
		<div class="row">
			<div class="col-lg-6">
				<strong>Férias pessoais</strong>
			</div>		
			<div class="col-lg-6">
				{{#with feriasPessoaisGozadas}}
					<strong>Períodos</strong>
						<span class="pull-right">{{periodos}}</span><br>
					<strong>Dias</strong>
						<span class="pull-right text-danger">-{{dias}}</span>
				{{/with}}
			</div>	
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<strong>Férias acumuladas</strong>
			</div>
			<div class="col-lg-6">
				{{#with feriasAcumuladas}}
					<strong>Períodos</strong>
						<span class="pull-right">{{periodos}}</span><br>
					<strong>Dias</strong>
						<span class="pull-right text-green">+{{dias}}</span>
				{{/with}}
			</div>	
		</div>

		<div class="row">
			<div class="col-lg-6">
				<strong>Dias disponíveis para marcar</strong>
			</div>
			<div class="col-lg-6">
				{{#with diasDisponiveis}}
					<span class="pull-right text-{{cor}}"><strong>{{valor}}</strong></span>
				{{/with}}
			</div>
		</div>		
	</div>
</template>