<template name="usersEditProfile">
	{{#borderedContent title="Editar Perfil"}}
		{{#with user}}
			{{#autoForm collection="Meteor.users" template="bootstrap3-horizontal" doc=this type="update" id="updateUsersProfileForm" class="form-horizontal"}}
				{{> afQuickField name="profile.nome" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.sobrenome" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.nascimento" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.genero" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.cpf" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.rg" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.endereco" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.telefone" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.celular" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> afQuickField name="profile.email" label-class="col-sm-3" input-col-class="col-sm-9"}}
			  	{{> submit texto="Salvar"}}
			{{/autoForm}}	
		{{/with}}
	{{/borderedContent}}
</template>
