<template name="usersEdit">
<!--
{{#if subsReady 'user'}}
  {{#with user}}
    {{#panel title="Edit Profile"}}
        {{#autoForm collection="Meteor.users" 
        template="bootstrap3-horizontal" 
        doc=this type="update" 
        id="updateUsersProfileForm" 
        class="form-horizontal"}}
          {{> afQuickField name="profile.firstName" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.lastName" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.birth" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.gender" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.address" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.telephone" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="profile.cellphone" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> submit texto="Save" buttonClass="col-sm-9" offsetClass="col-sm-offset-3"}}
        {{/autoForm}} 
    {{/panel}}
  {{/with}}
{{else}}
  {{> spinner}}
{{/if}}
-->

  {{#autoForm collection="Meteor.users" 
  template="bootstrap3-horizontal" 
  doc=this 
  type="method-update" 
  meteormethod="users/edit"
  id="updateUsersProfileForm" 
  class="form-horizontal"}}
    {{> afQuickField name="profile.firstName" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.lastName" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.birth" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.gender" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.address" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.telephone" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.cellphone" label-class="col-sm-3" input-col-class="col-sm-9"}}
    {{> afQuickField name="profile.about" label-class="col-sm-3" input-col-class="col-sm-9"}}
    <div class="row">
      <div class="col-md-6" align='left'>
        <button class="btn btn-danger btn-lg" id='cancel'>Cancel</button>
      </div>
      <div class="col-md-6" align='right'>
        <button type='submit' class="btn btn-primary btn-lg">Save</button>
      </div>
    </div>
  {{/autoForm}} 

</template>


