<template name="usersView">
    <!--
    {{#with user}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                {{#with profileImage}}
                                    <img alt="image" class="img-responsive" src="{{url}}">
                                {{/with}}
                                
                                <button class='btn btn-primary btn-sm' id='change-profile-image' style="width: 100%">Change picture</button>

                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{profile.fullName}}</strong></h4>
                                <p><i class="fa fa-map-marker"></i> {{profile.address}}</p>
                                <h5>
                                About me
                            </h5>
                                <p>
                                    {{profile.about}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {{#simplePanel title="Info" }}
                        {{#if editingProfile}}
                            {{> usersEdit}}
                        {{else}}
                            {{> usersProfile}}
                        {{/if}}
                    {{/simplePanel}}
                </div>
            </div>
        </div>
    {{/with}}
    -->

    {{#with user}}
    <div class="row">
        {{!-- Not sure about small, sm-offset is bugged somehow --}}
        <div class="col-md-4">
            {{>userCard }}
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-md-12">
                    {{> recentUpdates collection='users'}}
                </div>
                <div class="col-md-12">
                    {{> projectsWorking}}
                </div>
            </div>
        </div>
    </div>    
    {{/with}}
</template>
