<template name="usersView">
  {{#if Template.subscriptionsReady}}
    {{#with user}}
      <div class="row">
        <div class="col-md-4">
          {{>userCard }}
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-md-12">
              {{> recentUpdates selector=userSelector counterId='userUpdates' initialCount=40}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{> projectsWorking}}
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  {{/if}}
</template>
