.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
	display:block;
	margin-bottom:1px;

	text-align:center;
	margin: 0 auto;
	padding-top:5px;

	bottom:0px;
}


.diagrama{
	font-family: 'Roboto', sans-serif;
 	text-align:center;

 	table-layout: fixed;
	
	td{
		padding:4px;
		text-align:center;
		border-bottom: 1px solid rgba(0,0,0,0.05);



	}

	tr{
		//border-bottom: 1px solid rgba(0,0,0,0.05);
		height:50px;
	}
}

		.cargo{
			min-width:75px;
		}

		.area{
			min-width:200px;
		}

.bloco-cargo{
	p{
		display:block;
		margin: 0 auto;
		height:15px;
		font-size:12px;
		bottom:0px;
	}
	.bola{
	 	width:50px;
	 	height:50px;
	 	line-height:45px;
	 	vertical-align:middle;

	 	border: 2px solid black;
	 	border-radius:50%;

	 	background-color:#7bc043;
	 	color:white;
	 	font-size:15px;

	 	display:block;
	 	margin: 0 auto;
	}	
}

	
.bloco-area{
	box-shadow: 2px 2px 1px #a1a1a1;
	color:black;
	//-webkit-text-stroke: 0.5px white;
	//font-weight:bold;
	font-size:16px;

	height:40px;
	line-height:40px;
	width:100%;

	display:inline-block;

	border:1.5px solid rgba(0,0,0,0.5); 	
	border-radius:10px;
	white-space: nowrap;


	&:hover{
		//background-color:rgba(0,52,58,0.6);
		font-weight:bold;
	}
}

.subir-nivel{
	font-size:20px;
	&:hover{
		//color:#7bc043;
	}
}

	
.scroll-diagrama{
	overflow:auto;
	width:100%;
}

.vp{
	background-color: #547980 !important;
}

.dir{
	background-color: #45ada8 !important;

}

.ger{
	background-color: #9de0ad !important;

}

.coord{
	background-color: #e5fcc2 !important;
}

.aes{
	background-color:#594f4f;
	color:#e5e5e5;
}