

<template name="diagrama">
	<div class="scroll-teste" align="center">

		<table class="diagrama">
			{{#each matrizAreas}}
				<tr class="animated fadeIn">
				{{#each this}}
					<td colspan={{colspan}} class="area">
					{{#if nome}}
						<span class="bloco-area">
							{{nome}} 
							<span class="subir-nivel">{{#if botaoUp}}<i class="fa fa-level-up"></i>{{/if}}</span>
						</span>
					{{/if}}

					</td>
				{{/each}}
				</tr>
			{{/each}}
			{{#unless noRender}}
				{{#each matrizCargos}}

					<tr class="animated fadeInDown">
						{{#each this}}
							<!--{{logg this}}-->
							<td class="cargo">
								{{#if this}}
									<div class="bloco-cargo hvr-float-shadow">
										<p>
											{{#if temPai}}
												<div class="arrow-up"></div>
											{{else}}
												{{texto}}
											{{/if}}
										</p>
										{{#if classificacao}}
											<div class="bola ver-classificacao" style="background-color:{{cor}}">{{label}}</div>
										{{else}}
											<div class="bola" style="background-color:{{cor}};opacity:0.1;">{{label}}</div>
										{{/if}}
									</div>
								{{else}}
									-
								{{/if}}
							</td>
						{{/each}}
					</tr>
				{{/each}}
			{{/unless}}
		</table>
	</div>
</template>

