<template name="mainDashboard">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.technologies title='Technologies' value=technologiesCount link="technologiesDashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.projects title='Projects' value=projectsCount link="projectsDashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.organizations title='Organizations' value=organizationsCount link="organizations.dashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.attachments title='Attachments' value=attachmentsCount link="attachments.dashboard"}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='mainDashboard'}}
    </div>
  </div>
</template>