<template name="organizationsDashboardStat">
  {{#dashboardStat icon=Icons.collections.organizations title='Organizations' total=total}}
    {{#if Template.subscriptionsReady}}
      {{#with lastOrganizationAdded}}
        <p>The newest one is
          <a href="{{pathFor 'organizations.entry' id=_id}}" class="label label-outline"><i class="{{Icons.collections.organizations}}"></i> {{name}}</a>
        </p>
      {{/with}}
    {{else}}
      <p>Loading...</p>
    {{/if}}
  {{/dashboardStat}}
</template>
