

<template name="techStash">
{{#if $eq style 'vertical'}}
  <!-- Vertical Style -->
  {{#panelContainer class="tech-stash"}} 
    {{#panelTitle}}
      <div class="input-group">
        <input type="text" placeholder="Search for a technology." class="input input-sm form-control stash-filter">
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-white add-to-stash">
              <i class="fa fa-plus"></i> Add
            </button>
          </span>
      </div>
    {{/panelTitle}} 
    {{#panelContent}} 
      {{#perfectScrollbar}} 
        <div class="stash-drag-area" data-drag="stash">
        {{#each filteredTechnologiesStash}}
          {{#with getTechnology}}
            {{> miniTechCard }}
          {{/with}}
       {{/each}} 
       </div>
      {{/perfectScrollbar}} 
    {{/panelContent}} 
  {{/panelContainer}}
{{else}}
  <!-- Table Style -->
  {{#panelContainer}} 
    {{#panelTitle}}
      <h1>Technology Stash</h1>
      <div class="ibox-tools">
        <a href="#" class="add-to-stash">
          <i class="fa fa-plus"></i>
        </a>
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    {{/panelTitle}}
    {{#panelContent}}
      <div class="row">
        <div class="col-sm-12">
          <input type="text" placeholder="Search" class="input-sm form-control stash-filter">
        </div>
      </div>    
      {{#if filteredTechnologiesStash}}  
        <table class="footable table table-stripped toggle-arrow-tiny">
          <thead>
            <tr>
              <th data-toggle="true">Name</th>
              <th>Status</th>
              <th>Added by</th>
              <th>Date</th>
              <th>Collections</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each filteredTechnologiesStash}}
              {{> techStashItem}}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <div class="empty-message">
          <i class='fa fa-frown-o'></i>
          <h3>
            Empty Stash
          </h3>
        </div>   
      {{/if}}        
    {{/panelContent}}
  {{/panelContainer}}
{{/if}}
</template>
