<template name="techStashItem">
  <tr>
    {{#with getTechnology}}
      <td><a href="{{pathFor 'technologies.entry' id=_id}}">{{name}}</a></td>
      <td>{{> techStatus}}</td>
    {{/with}}
    {{#with getUser}}
      <td>
        <a href="{{pathFor 'users.entry' id=_id}}">{{identification}}</a>
      </td>
    {{/with}}

    <td>{{moFromNow addedAt}}</td>

    <!-- need to improve repetition -->
    {{#with getTechnology}}
      <td>
        {{#each getCollections}}
          <button class="btn btn-xs btn-outline btn-primary">{{name}}</button>
        {{/each}}
      </td>
      <td>
        <a href="#" class="remove-tech"><i class="fa fa-times fa-fw"></i></a>
      </td>      
    {{/with}}
  </tr>
</template>
