<template name="feriasPessoaisEdit">
{{#afModal class="btn btn-success btn-xs" title="<i class='fa fa-edit'></i> Editar" collection="FeriasPessoais" id="updateFeriasColetivasForm" operation="update" doc=_id}}
  <i class="fa fa-edit"></i>
{{/afModal}}

<!--
{{#with ferias}}
	{{#borderedContent title="Editar Férias"}}
		{{#autoForm collection="Ferias" id="updateFeriasPessoaisForm" type="update" doc=this}}
			{{#if afFieldValueIs name="tipo" value="pessoal"}}
				{{> afQuickField name='userId'}}
			{{/if}}
			{{> afQuickField name='data'}}

			<div class="form-group">
			    <button type="submit" class="btn btn-primary">      
			      Editar férias pessoais
			    </button>
			  </div>			
		{{/autoForm}}
	{{/borderedContent}}	
{{/with}}
-->
</template>