<template name="attachmentPreview">
  <div class="attachment-preview">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>File Preview</h3>
      </div>
      <div class="panel-body">
        {{#if isUploading}}
          {{#with FS.GetFile "files" fileObj._id}}
            {{> FS.UploadProgressBar bootstrap=true}}
          {{/with}}
          {{> spinnerWave}}
        {{else}}
          {{#if attachment}}
            {{> attachmentThumbnail attachment=attachment class='preview'}}
            <h3> {{attachment.name}} </h3>
            <h3> {{attachment.file.type}}</h3>
          {{else}}
            <div class="empty-message">
              <i class="fa fa-file-o"></i>
              <h3>No file to display</h3>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
