<template name="technologiesAdd">
  {{#panel title="Create Technology Form" }}

    {{> technologiesInformationForm 
      id="technologies-add-form" 
      type="method"
      meteormethod="technologies.insert"}}

    {{#autoForm collection="Technologies" id="insertTechnologiesForm" type="method" meteormethod="technologies.insert" class="form-horizontal" }}

      <h2>Basic Information</h2>
      <hr>

      {{> afQuickField name="name" label-class="col-sm-2" input-col-class="col-sm-9"}} 
        
      {{> afQuickField name="synonyms" label-class="col-sm-2" input-col-class="col-sm-9"}} 
      {{> afQuickField name="status" label-class="col-sm-2" input-col-class="col-sm-9"}} 
      {{> afQuickField name="tags" label-class="col-sm-2" input-col-class="col-sm-9"}} 
      {{> afQuickField name="images" label-class="col-sm-2" input-col-class="col-sm-9"}} 

      <h2>Relations</h2>
      <hr>

      {{> afQuickField name="organizationsId" label-class="col-sm-2" input-col-class="col-sm-9"}} 
      {{> afQuickField name="projectsId" label-class="col-sm-2" input-col-class="col-sm-9"}} 
        
      
      {{> attachmentsFieldInput name="attachmentsId" }}

      <hr>
      {{> submit texto="Add Technology" buttonClass="col-sm-9" offsetClass="col-sm-offset-2"}}
    {{/autoForm}}
  {{/panel}}
</template>
