<template name="technologiesAdd">
  <div class="row">
    <div class="col-lg-3">
      <div style="position: fixed; width: 22.5%">
        {{> technologiesInformationCard tech}}
      </div>
    </div>
    <div class="col-lg-9">
      {{#panel title="Basic Information"}}
        {{> technologiesInformationForm
          id="insert-technologies-information-form"
          type="method-update"
          meteormethod="technologies.update"
          doc=tech
          autosave=false}}
      {{/panel}}
    </div>
  </div>
</template>
