<template name="projectsCardFooter">
  <div class="btn-group card-footer">
    {{#btnTooltip text="View Entry" onClick=onClickView}}
      <i class="fa fa-eye"></i>
    {{/btnTooltip}}
    {{#btnTooltip text="Active" }}
      {{capitalizeFirstLetter status}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat collectionsCount " technologies") }}
      <i class="{{Icons.collections.technologies}}"></i> {{collectionsCount}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat technologiesStashCount " collections") }}
      <i class="{{Icons.collections.collections}}"></i> {{technologiesStashCount}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat attachmentsCount " attachments") }}
      <i class="{{Icons.collections.attachments}}"></i> {{attachmentsCount}}
    {{/btnTooltip}}
  </div>
</template>
