<template name="projectsCardFooter">
  <div class="btn-group card-footer">
    {{#btnTooltip text="View Entry" }}
      <i class="fa fa-eye"></i>
    {{/btnTooltip}}
    {{#btnTooltip text="Active" }}
      Active
    {{/btnTooltip}}
    {{#btnTooltip text=(concat '4' " technologies") }}
      <i class="Icons.collections.technologies"></i> 11
    {{/btnTooltip}}
    {{#btnTooltip text=(concat '4' " collections") }}
      <i class="{{Icons.collections.collections}}"></i> 2
    {{/btnTooltip}}
    {{#btnTooltip text=(concat '4' " attachments") }}
      <i class="{{Icons.collections.attachments}}"></i> 4
    {{/btnTooltip}}
  </div>
</template>
