<template name="filePreview">
  <div class="file-preview">
    {{#with file}}
      {{#if isImage}}
        {{> safeImg url=(getCloudinaryFetchImage s3Url) class='img-responsive margin-auto' width='400' height='400'}}
      {{else}}
        <div class="empty-message">
          <i class='fa {{classIconName}}'></i>
          <h3> {{original.name}} </h3>
          <h4> {{original.type}} </h4>
        </div>
      {{/if}}
      {{else}}
        <div class="empty-message">
          <i class='fa fa-file-o'></i>
          <h3> No file to display</h3>
        </div>
    {{/with}}
  </div>
</template>
