<template name="attachmentPreview">
  <div class="attachment-preview">
    {{#with this}}
      {{#if isFromWeb}}
        {{> safeImg url=(getCloudinaryFetchImage web.thumbnailUrl) class='img-responsive margin-auto' width='600' height='400'}}
      {{else}}
        {{#if isImage}}
          {{> safeImg url=(getCloudinaryCard (s3pathFiles file._id)) class='img-responsive margin-auto' width='600' height='400'}}
        {{else}}
          <div class="empty-message">
            <i class='fa {{classIconName}}'></i>
            <h3> {{name}} </h3>
            <h4> {{file.type}} </h4>
          </div>
        {{/if}}
      {{/if}}
      {{else}}
        <div class="empty-message">
          <i class='fa fa-file-o'></i>
          <h3> No file to display</h3>
        </div>
    {{/with}}
  </div>
</template>
