<template name="orgAttachments">
  {{#panelContainer class='float-e-margins' }}
    {{#panelTitle}}
      <h1>
        <i class="{{Icons.collections.attachments}}"></i>
        Attachments
      </h1>
      {{#panelTools}}
        <a href="#" id="manage-org-attachments">
          <i class="fa fa-plus"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      <div class="feed-activity-list">
        {{#each attachments}}
          <div class="feed-element">
            <a href="{{pathFor 'attachments.entry' id=_id}}" class="pull-left">
            {{> attachmentThumbnail attachment=this class='small'}}
          </a>
            <div class="media-body ">
              <div class="pull-right">
                <!-- <a href="{{pathFor 'attachments.entry' id=_id}}" class="btn btn-success btn-xs">
                  <i class="fa fa-eye" alt="Entry"></i> Entry
                </a>
                <a href="{{url}}" target="blank" class="btn btn-default btn-xs">
                  <i class="fa fa-external-link" alt="Redirect"></i>
                </a> -->
              </div>
              <strong>{{name}}</strong>
              <br>
              <small class="text-muted">{{description}}</small>
            </div>
          </div>
        {{/each}}
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>
