<template name="attachmentsDashboard">  
  <div class="row tooltip-demo">
    <!-- About box -->
    <div class="col-lg-3 col-sm-5">
      {{> attachmentsDashboardStat}}
    </div>
    <!-- fim do about box -->
    <!-- Início tech stash -->
    <div class="col-lg-9 col-sm-7">
      {{> recentUpdates 
        counterId='attachment' 
        selector=attachmentSelector
        hasIcon=true 
        initialCount=10 
        countIncrement=5}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          {{> searchSourceDisplay source=SearchSources.globalSearch types="attachments" displayMode='attachmentsSearch'}}
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
</template>