.attachment-thumbnail {
  &.small {
    text-align: center;
    img, i {
      width: 60px;
      height: 60px;
    }
    i {
      font-size: 37px;
    }
  }
  &.preview {
    text-align: center;
    i {
      font-size: 65px;
    }
  }
  &.card {
    text-align: center;
    img {
      //  width: 600px;
      //  height: 500px;
    }
    i {
      font-size: 65px;
      position: absolute;
      left: 0;
      right: 0;
      top: 25%;
    }
  }
}
