<template name="attachmentsBriefCard">
  {{#briefCard 
    _id=_id 
    title=name 
    collection='attachments' 
    link=(pathFor 'attachments.entry' id=_id) 
    onDelete=onDelete 
    onEdit=onEdit}}
      <a href="{{pathFor 'attachments.entry' id=_id}}">
        {{#if useBackground}}
          <img src="img/rsz_attachment-background.jpg" class="img-responsive" alt="">
        {{/if}}
        {{> attachmentThumbnail attachment=this class="card" width=600 height=400 crop='fill'}}
      </a>
  {{/briefCard}}
</template>
