<template name="attachmentsCard">
  {{#unless isDeleted}}
    <div class="ibox card-box">
      <div class="ibox-content no-padding">
        {{> attachmentsCardTools}}
        <a href="{{pathFor 'attachments.entry' id=_id}}">
        {{#if useBackground}}
          <img src="img/rsz_attachment-background.jpg" class="img-responsive" alt="">
        {{/if}}
        {{> attachmentThumbnail attachment=this class="card" width=600 height=400 crop='fill'}}
        </a> 
        <div class="card-body">
          {{> attachmentsCardDesc}}
          {{> attachmentsCardFooter}}
        </div>
      </div>
    </div>
  {{/unless}}    
</template>