<template name="projectsEditModal">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent title="Edit Project" icon="fa fa-edit" subtitle="You must save changes before closing."}}
    {{/modalHeader}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Projects"
        id="updateProjectsModalForm" 
        type="method-update" 
        doc=project
        singleMethodArgument=true
        meteormethod="Projects.methods.update" 
        class="form-horizontal"}}
        {{#modalBody}}
            {{> afQuickField name="name" label-class="col-sm-2" input-col-class="col-sm-9"}} 
            {{> afQuickField name="description" label-class="col-sm-2" input-col-class="col-sm-9"}} 
        {{/modalBody}}
        {{#modalFooter}}
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        {{/modalFooter}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/modal}}
</template>
