<template name="recentUpdates">
    <div class="recentUpdates">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Recent Updates</h5>
            </div>
            <div class="ibox-content no-padding">
                <ul class="list-group">
                    {{#each logs}}
                        {{> recentUpdatesItem}}
                    {{/each}}
                    <li class="list-group-item">
                        <p>
                            <a class="text-info" id='view-more'>
                                View more... ({{displayCount}} / {{totalCount}})
                            </a><br>
                            <a class='text-info' id='view-less'>
                                View less                                
                            </a>                            
                        </p>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
