<template name="recentUpdates">
    <div class="recentUpdates">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Recent Updates</h5>
            </div>
            <div class="ibox-content no-padding">
                <ul class="list-group">
                    {{#each logs}}
                        {{> recentUpdatesItem}}
                    {{/each}}
                    <li class="list-group-item">
                        <a class="text-info" id='view-more'>
                            <p>View more... ({{displayCount}} / {{totalCount}})</p>
                        </a>
                        <a class='text-info' id='view-less'>
                            <p>View less</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
