<template name="areasAdd">
	{{#borderedContent title="Adicionar Área"}}
		{{#autoForm collection="Areas" id="insertAreasForm" type="insert" class="form-horizontal"}}
			{{> afQuickField name='nome' label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name='tipo' label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{#unless afFieldValueIs name='tipo' value=1}}
				{{> afQuickField name='paiId' label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{/unless}}
			{{> afQuickField name='ativo' label-class="col-sm-3" input-col-class="col-sm-9"}}
			

			{{> submit texto="Adicionar"}}
		{{/autoForm}}
	{{/borderedContent}}	
</template>