<template name="areasEdit">

	{{#borderedContent title="Editar Area"}}
		{{#with area}}
		{{#autoForm collection="Areas" id="updateAreasForm" type="update" doc=this class="form-horizontal"}}
			{{> afQuickField name='nome' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name='tipo' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{#unless afFieldValueIs name='tipo' value=1}}
				{{> afQuickField name='paiId' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{/unless}}
			{{> afQuickField name='ativo' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
			

			{{> submit texto="Editar"}}
		{{/autoForm}}
		{{/with}}
	{{/borderedContent}}	


</template>