<template name="areasView">
	{{#borderedContent title="Ver Área"}}
		{{#with area}}
			<table class="table table-striped table-bordered descricao">
			    <tbody>
			    	<tr>
			    		<td width="25%"><b>Nome</b></td>
			    		<td width="75%">{{nome}}</td>
			    	</tr>
			    	<tr>
			    		<td><b>Total Subáreas</b></td>
			    		<td>{{totalSubareas}}</td>
			    	</tr>
			    	<tr>
			    		<td><b>Total Cargos</b></td>
			    		<td>{{totalCargos}}</td>
			    	</tr>	    		    	
			    </tbody>
			</table>
		{{/with}}
	{{/borderedContent}}
</template>