<template name="manageUserRole">
  {{#manageModal icon=Icons.collections.users title='Manage User Groups' }}
    {{#if Template.subscriptionsReady}}
      {{> searchSource source=SearchSources.userSearch options=getOptions}}
      {{#perfectScrollbar}}
        <table class="table manage-table">
          <tbody>
            {{#each users}}
              {{>manageUserRoleItem username=username emails=emails fullName=fullName _id=_id role=getRolesForUser}}
            {{/each}}
          </tbody>
        </table>
      {{/perfectScrollbar}}
    {{else}}
      {{> spinner}}
    {{/if}}
  {{/manageModal}}
</template>
