<!--
<template name="safeImg">
  <img src="{{src}}" class="{{class}}">
</template>
-->

<template name="safeImg">
  {{#if url}}
    {{#if loadingImg}}
      {{> spinnerWave}}
    {{/if}}
    
    <img src="{{url}}" 
      class="safe-img {{class}}" 
      id="{{id}}"
      style="{{#if loadingImg}}visibility:hidden; display:none;{{/if}}" 
      onerror="this.style.display='none';" />
  {{else}}
    <img src="{{notFound}}" 
      class="{{class}}" 
      style="width:{{width}}px; height:{{height}}px;">
  {{/if}}
</template>
