<template name="cargosEdit">
{{#with cargo}}
	{{#borderedContent title="Editar Cargo"}}
		{{#autoForm collection="Cargos" id="updateCargosForm" doc=this type="update" class="form-horizontal"}}
			{{>afQuickField name="nome" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{>afQuickField name="carreiraId" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{>afQuickField name="ativo" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{>afQuickField name="areaId" label-class="col-sm-3" input-col-class="col-sm-9"}}

			{{> submit texto="Salvar"}}
		{{/autoForm}}
	{{/borderedContent}}
{{/with}}
</template>