<template name="_cargosBackup">
	{{#with classificacao}}
		{{#modal titulo='Histórico de edições' subtitulo='Clique para voltar ao estado antes da edição' icone='fa fa-database' large=true}}
		    {{#modalBody}}
		    	<table class="table table-striped table-condensed">
		    		<thead>
		    			<tr>
		    				<th>Criado em</th>
		    				<th>Modificado por</th>	
		    				<th>Ações</th>
		    			</tr>
		    		</thead>
		    		<tbody>
				    	{{#each backups}}

				    		<tr class="{{#if $eq ../versaoId _id}}success{{/if}}">
				    			<td>{{moFormat criadoEm 'DD/MM/YYYY hh:mm:ss'}} </td>
				    			<td>{{#with user}}{{profile.nomeCompleto}}{{/with}}</td>
				    			<td>
				    				<button class='btn btn-primary btn-sm ver'><i class="fa fa-eye"></i></button>
				    				<button class='btn btn-warning btn-sm recuperar'><i class="fa fa-arrow-down"></i></button>
				    				{{#unless $eq ../versaoId _id}}
			    					{{#quickRemoveButton collection="Backups" _id=_id class="btn btn-danger btn-sm" onSuccess=onSuccess beforeRemove=beforeRemove}}<i class="fa fa-trash"></i>{{/quickRemoveButton}}
			    					{{/unless}}
				    				
				    			</td>
				    		</tr>

				    		{{#if verDetalhes}}
				    		<tr>
				    			<td colspan="4">
				    				{{> _descreverLista titulo="Atribuições" lista=doc.atribuicoes}}
				    				{{> _descreverLista titulo="Atribuições" lista=doc.conhecimentos}}
				    				{{> _descreverLista titulo="Atribuições" lista=doc.formacao}}
				    				{{> _descreverLista titulo="Atribuições" lista=doc.experiencia}}
				    			</td>
				    		</tr>
				    		{{/if}}
				    	{{/each}}
				    </tbody>
		    	</table>
		    {{/modalBody}}

		    {{#modalFooter}}
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
		    {{/modalFooter}}
		{{/modal}}
	{{/with}}
</template>

<template name="removerBackup">
	<button class='btn btn-danger btn-sm deletar' id='deletar'><i class="fa fa-trash"></i></button>
</template>