<template name="cargosView">
	{{#borderedContent title="Ver Cargo"}}
		{{#with cargo}}
			<table class="table table-striped table-bordered descricao">
			    <tbody>
			    	<tr>
			    		<td width="25%"><b>Nome</b></td>
			    		<td width="75%">{{nome}}</td>
			    	</tr>
			    	<tr>
			    		<td><b>Carreira</b></td>
			    		<td>{{carreira.nome}}</td>
			    	</tr> 	
			    </tbody>
			</table>

			{{> cargosClassificacoes cargoId=_id}}
		{{/with}}	        
	{{/borderedContent}}
</template>

