<template name="organizationsKeyPeopleItem">
  <tr class='manage-table-item'>
    <td>
      {{> safeImg url=(c.url people.image width=50 height=50 type='fetch' crop='thumb' gravity='face') class='img-circle'}}
    </td>
    <td>
      {{people.name}}
    </td>
    <td>
      <b>{{people.role}}</b>
    </td>
    <td>
      <button class="btn btn-primary btn-xs google-search">
        <i class='fa fa-external-link'></i>
      </button>
      <button class="btn btn-danger btn-xs delete-key-people">
        <i class='fa fa-trash'></i>
      </button>
    </td>
  </tr>
</template>
