<template name="organizationsManageKeyPeople">
    {{#manageModal icon='fa fa-key' title='Manage Organization\' s Key People'}}
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-add">Add New</a></li>
                <li class=""><a data-toggle="tab" href="#tab-manage">Manage</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-add" class="tab-pane active">
                    <div class="panel-body">
                        {{> organizationsKeyPeopleAdd orgId=orgId}}
                    </div>
                </div>
                <div id="tab-manage" class="tab-pane">
                    <div class="panel-body">
                        {{> organizationsKeyPeopleList orgId=orgId}}          
                    </div>
                </div>
            </div>
        </div>
    {{/manageModal}}
</template>