<template name="folhasFechar">
<!--
	{{#afModal class="btn btn-warning" title="Fechar" collection="Folhas" formId="fecharFolhasForm" operation="update" doc=_id fields='participacaoReal,decimoReal'}}
	  Fechar
	{{/afModal}}	
-->
<button class="btn btn-warning" id="folha-fechar">Fechar</button>

</template>

<template name="_folhasFechar">
{{#modal titulo="Fechar Folha" subtitulo="Após a folha ser fechada ela não poderá mais ser editada" icone="fa fa-lock"}}
	{{#autoForm collection="Folhas" id="fecharFolhasForm" type="update" doc=doc}}
    	{{#modalBody}}
	        	{{> afQuickField name="participacaoReal" value=participacao}}
	        	{{> afQuickField name="decimoReal" value=decimo}}
	        
	    {{/modalBody}}

	    {{#modalFooter}}
	    	<button type="submit" class="btn btn-success">Ok</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	    {{/modalFooter}}
    {{/autoForm}}
{{/modal}}
</template>