<template name="panelContainer">
  <div class="ibox {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="panelTitle">
  <div class="ibox-title {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="panelContent">
  <div class="ibox-content {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="panelFooter">
  <div class="ibox-footer {{class}}">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="panelTools">
  {{#if isInRole 'admin,editor'}}
    <div class="ibox-tools {{class}}">
      {{> UI.contentBlock}}
    </div>
  {{/if}}
</template>
<template name="panel">
  {{#panelContainer}}
    {{#panelTitle}}
      <h3>
      {{#if icon}}
        <i class='{{icon}}'></i>
      {{/if}}
      {{title}}
      </h3>
    {{/panelTitle}}
    {{#panelContent}}
      {{> UI.contentBlock}}
    {{/panelContent}}
  {{/panelContainer}}
</template>
