<template name="attachmentAboutBox">
  {{#panelContainer class='float-e-margins attachment-about-box' }}
    {{#panelTitle}}
      <h3>
        <i class="{{Icons.collections.attachments}}"></i> {{name}}
      </h3>
      {{#panelTools}}
        <a href="#" id="attachment-edit">
          <i class="fa fa-pencil"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      {{> attachmentThumbnail attachment=this class='preview'}}
    {{/panelContent}}
    {{#panelContent}}
      <div class="description">
        <header>
          <h4>Description</h4>
          <p>
            {{#if description}}
              {{description}}
            {{else}}
              No description
            {{/if}}
          </p>
        </header>
      </div>
    {{/panelContent}}
    {{#panelContent}}
      <table class="table">
        <tr>
          <td><b>From</b></td>
          <td>
            <div class="label label-default">{{from}}</div>
          </td>
        </tr>
        {{#if isFromWeb}}
          <tr>
            <td><b>Web</b></td>
            <td><a href="{{web.sourceUrl}}" target="blank">Visit Page</a></td>
          </tr>
        {{else}}
          <td><b>File</b></td>
          <td>
            <!-- Temporary solution -->
            <a href="https://s3.amazonaws.com/envisioning/tdb/files/{{file._id}}" download>Download</a>
          </td>
        {{/if}}
        <tr>
          <td><b>Upload Date</b></td>
          <td>{{moFormat createdAt 'DD/MM/YYYY'}}</td>
        </tr>
        <tr>
          <td><b>Created By</b></td>
          <td> <a href="{{pathFor 'users.entry' id=user._id}}">{{> safeImg url=(getUserThumb (s3pathImages user.profile.imageId)) class="img-circle m-t-xs link"}} </a></td>
        </tr>
      </table>
    {{/panelContent}}
    {{#panelContent}}
      <div class="related-links">
        <h5><i class="{{Icons.collections.projects}}"></i> Related Projects </h5>
        {{#each relatedProjects}}2
          <a href="{{pathFor 'projects.entry' id=_id}}">{{name}}</a>
          {{else}}
            No related projects
        {{/each}}
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.technologies}}"></i> Related </h5>
        {{#each relatedTechnologies}}
          <a href="{{pathFor 'technologies.entry' id=_id}}">{{name}}</a>
          {{else}}
            No related technologies
        {{/each}}
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.organizations}}"></i> Related Organizations </h5>
        {{#each relatedOrganizations}}
          <a href="{{pathFor 'organizations.entry' id=_id}}">{{name}} &nbsp;</a>
          {{else}}
            No related organizations
        {{/each}}
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>
