<template name="attachmentAboutBox">
  {{#panelContainer class='float-e-margins attachment-card' }}
    {{#panelTitle}}
      <h3>
        <i class="{{Icons.collections.attachments}}"></i> {{name}}
      </h3>
      <div class="ibox-tools">
        <a href="#" id="attachment-edit">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    {{/panelTitle}}
    {{#panelContent}}
      {{> attachmentPreview this}}
    {{/panelContent}}
    {{#panelContent}}
      <div class="description">
        <header>
          <h4>Description</h4>
          <p>{{description}}</p>
        </header>
      </div>
    {{/panelContent}}
    {{#panelContent}}
      <table class="table">
        <tr>
          <td><b>Upload Date</b></td>
          <td>{{moFormat createdAt 'DD/MM/YYYY'}}</td>
        </tr>
        <tr>
          <td><b>Created By</b></td>
          <td> {{user._id}} </td>
        </tr>
      </table>
    {{/panelContent}}
    {{#panelContent}}
      <div class="related-links">
        <h5><i class="{{Icons.collections.projects}}"></i> Related Projects </h5>
        {{#each relatedProjects}}2
          <a href="{{pathFor 'projects.entry' id=_id}}">{{name}}</a>
          {{else}}
            No related projects
        {{/each}}
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.technologies}}"></i> Related </h5>
        {{#each relatedTechnologies}} 
          <a href="{{pathFor 'technologies.entry' id=_id}}">{{name}}</a>
          {{else}}
            No related technologies
        {{/each}}
        
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.organizations}}"></i> Related Organizations </h5>
        {{#each relatedOrganizations}}
          <a href="{{pathFor 'organizations.entry' id=_id}}">{{name}} &nbsp;</a>
          {{else}}
            No related organizations
        {{/each}}
        
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>
