<template name="attachmentAboutBox">
  {{#panelContainer class='float-e-margins attachment-card' }}
    {{#panelTitle}}
      <h3>
        <i class="{{Icons.collections.attachments}}"></i> {{name}}
      </h3>
      <div class="ibox-tools">
        <a href="#" id="attachment-edit">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    {{/panelTitle}}
    {{#panelContent}}
      {{> fetchImage src=imageUrl width=400 height=400 class="img-responsive attachment-image"}}
    {{/panelContent}}
    {{#panelContent}}
      <div class="description">
        <header>
          <h4>Description</h4>
          <p>{{description}}</p>
        </header>
      </div>
    {{/panelContent}}
    {{#panelContent}}
      <table class="table">
        <tr>
          <td><b>Upload Date</b></td>
          <td>{{moFormat createdAt 'DD/MM/YYYY'}}</td>
        </tr>
        <tr>
          <td><b>Created By</b></td>
          <td> {{user._id}} </td>
        </tr>
      </table>
    {{/panelContent}}
    {{#panelContent}}
      <div class="related-links">
        <h5><i class="{{Icons.collections.projects}}"></i> Related Projects </h5>
        <p><a href="">@drone</a>, <a href="">@drone</a>, <a href="">@drone</a></p>
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.technologies}}"></i> Related Technologies </h5>
        <p><a href="">@drone</a>, <a href="">@drone</a>, <a href="">@drone</a></p>
      </div>
      <hr />
      <div class="related-links">
        <h5><i class="{{Icons.collections.organizations}}"></i> Related Organizations </h5>
        <p><a href="">@drone</a>, <a href="">@drone</a>, <a href="">@drone</a></p>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>




