<template name="verticalTechStash">
  {{#panelContainer class="tech-stash"}} 
    {{#panelTitle}}
      <div class="input-group">
        <input type="text" placeholder="Search for a technology." class="input input-sm form-control stash-filter">
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add</button>
          </span>
      </div>
    {{/panelTitle}} 
    {{#panelContent class="stashs"}} 
      {{#perfectScrollbar}} 
        {{#each getTechFromStash}}
          {{> techCard }}
       {{/each}} 
      {{/perfectScrollbar}} 
    {{/panelContent}} 
  {{/panelContainer}}
</template>