<template name="pagamentos">
{{> autoformModals}}
	{{> tabular table=TabularTables.Pagamentos selector=filtro class="table table-striped table-bordered table-hover table-responsive" id="pagamentosDT"  width="100%" style="max-width:100%"}}
</template>

<template name="pagamentosAcoes">
	{{#if folhaAberta}}
		<button class="btn btn-success btn-xs" id="recomputar-pagamento"><i class="fa fa-refresh"></i></button>
		{{>pagamentosEdit _id=_id}}
		{{#quickRemoveButton collection="Pagamentos" _id=_id class="btn btn-danger btn-xs" beforeRemove=beforeRemove}}<i class="fa fa-trash"></i>{{/quickRemoveButton}}
	{{/if}}
</template>