<template name="carreirasAdd">
{{#borderedContent title="Adicionar Carreira"}}
	{{#autoForm collection="Carreiras" id="insertCarreirasForm" type="insert" class="form-horizontal"}}
		{{> afQuickField name="nome" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="grade" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="gradeHorizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="cor" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="coordenador" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="avatar" label-class="col-sm-3" input-col-class="col-sm-9"}}
		{{> afQuickField name="estrutura" label-class="col-sm-3" input-col-class="col-sm-9"}}

		{{> submit texto="Adicionar"}}
	{{/autoForm}}
{{/borderedContent}}	
</template>