<template name="carreirasEdit">
{{#with carreira}}
	{{#borderedContent title="Editar Carreira"}}
		{{#autoForm class="form-horizontal" collection="Carreiras" id="updateCarreirasForm" doc=this type="update"}}
			{{> afQuickField name="nome" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="grade" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="gradeHorizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="cor" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="coordenador" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="avatar" label-class="col-sm-3" input-col-class="col-sm-9"}}
			{{> afQuickField name="estrutura" label-class="col-sm-3" input-col-class="col-sm-9"}}

			{{> submit texto="Salvar"}}
		{{/autoForm}}
	{{/borderedContent}}
{{/with}}
</template>