{{> navbar}}
<div class="wrapper-content">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <!-- COMEÇO DASH TECH -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-gear"></i> Technologies
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="#/technologies/add" class="btn btn-block btn-primary">Add a new technology</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>123</strong> Technologies in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>80</strong> of them are <a href="" class="label label-primary">Published</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>20</strong> of them are <a href="" class="label label-warning">Under Review</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>05</strong> of them are <a href="" class="label label-danger">Drafts</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-danger"><i class="fa fa-gear"></i> 3D touch sensitive screens</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- COMEÇO DASH PROJECTS -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-folder"></i> Projects
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new project</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>23</strong> Projects in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>80</strong> of them are active
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>20</strong> of them are prospect
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>05</strong> of them are closed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="fa fa-folder"></i> Futuro da Medicina</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- COMEÇO DASH ORG -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-building"></i> Organizations
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new organization</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>13</strong> organizations in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="icon fa fa-building"></i> Tesla Motors</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- COMEÇO DASH ATTACH -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-paperclip"></i> Attachments
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new attachment</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>23</strong> attachments in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="fa fa-paperclip"></i> Sky Blue Sky</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Início tech stash -->
    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Latest updates</h5>
        </div>
        <div class="ibox-content">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge badge-primary">5 min</span>
              <a class="label label-outline" href="#"><i class="icon fa fa-users"></i> Rafael Pelosini</a> was invited by <a href="#">Arthur Soares</a>
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">6 min</span>
              <a class="label label-outline" href="#"><i class="icon fa fa-paperclip"></i> Skin Patch</a> has 2 new images uploaded by <a href="#">Arthur Soares</a>
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">8 min</span>
              <a class="label label-warning" href="#"><i class="icon fa fa-gear"></i> Skin Patch</a> has 2 new images uploaded by <a href="#">Arthur Soares</a>
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">9 min</span>
              <a class="label label-outline" href="#"><i class="icon fa fa-folder"></i> Futuro da Medicina</a> was created by <a href="#">Arthur Soares</a>
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">9 min</span>
              <a class="label label-danger" href="#"><i class="icon fa fa-gear"></i> 3D touch sensitive screens</a> was created by <a href="#">Arthur Soares</a>
            </li>
            <li class="list-group-item">
              <span class="badge badge-primary">9 min</span>
              <a class="label label-danger" href="#"><i class="icon fa fa-gear"></i> 3D touch sensitive screens</a> was created by <a href="#">Arthur Soares</a>
            </li>
          </ul>
        </div>
        <div class="ibox-footer">
          <span class="pull-right">
            <a class="text-info" id="view-more">
              View more... (5 / 148)
            </a>
          </span>
          <a class="text-info" id="view-less">
            View less
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
