{{> navbar}}
<div class="row border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="#/projects">Projects</a>
      </li>
      <li>
        Futuro da Medicina
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper-content">
  <div class="row tooltip-demo">
    <div class="col-lg-3">
      <div style="position: fixed; width: 22.5%;">
        {{> projectCard_add }}
      </div>
    </div>
    <div class="col-lg-9">
      <form id="insertTechnologiesForm" class="form-horizontal" novalidate="novalidate">
        <div class="ibox">
          <div class="ibox-title">
            <h3>Basic Information</h3>
          </div>
          <div class="ibox-content">
            <div class="form-group" data-required="true">
              <label class="col-sm-2 control-label" for="22aphY63CBfWzzHPD">Title</label>
              <div class="col-sm-9">
                <input type="text" name="name" id="22aphY63CBfWzzHPD" required="" data-schema-key="name" placeholder="Futuro da Medicina"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-9">
                <textarea class="form-control" style="resize: none;" rows="2" placeholder="Futuro da Medicina is a content platform that is being developed for OneHealth since 2013. It started with some visualizations back in 2011. Our main contact is Dr. Sergio, CEO."></textarea>
                <span style="display: inline-block;text-align: right; position: absolute; right: 20px; font-size: 10px; margin-top: -17px;">0 / 140</span>
              </div>
            </div>
            <div class="form-group" data-required="true">
              <label class="col-sm-2 control-label" for="22aphY63CBfWzzHPD">URL</label>
              <div class="col-sm-9">
                <input type="text" name="name" id="22aphY63CBfWzzHPD" required="" data-schema-key="name" placeholder="http://www.futurodamedicina.com.br"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Status</label>
              <div class="col-sm-9">
                <div class="radio radio-warning radio-inline">
                  <input type="radio" id="inlineRadio1" value="option1" name="radioInline">
                  <label for="inlineRadio1"> Prospect </label>
                </div>
                <div class="radio radio-inline radio-primary">
                  <input type="radio" id="inlineRadio2" value="option2" name="radioInline" checked="">
                  <label for="inlineRadio2"> Open </label>
                </div>
                <div class="radio radio-inline radio-danger">
                  <input type="radio" id="inlineRadio3" value="option3" name="radioInline">
                  <label for="inlineRadio3"> Closed </label>
                </div>
              </div>
            </div>
            <div class="form-group" data-required="true">
              <label class="col-sm-2 control-label" for="22aphY63CBfWzzHPD">Image</label>
              <div class="col-sm-9">
                <img src="images/add_image.jpg" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><i class="fa fa-paperclip"></i> Organizations</h1>
            <div class="ibox-tools">
              <a href="#" id="manage-org-attachments">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row cards-box cards-responsive">
              <div class="cards-size"></div>
              {{#each organizations}} {{> organizationCard this }} {{/each}}
            </div>
          </div>
        </div>
        <!-- INICIO Projects -->
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1><i class="fa fa-folder"></i> Technology Stash</h1>
            <div class="ibox-tools">
              <a href="#" id="manage-org-projects">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row cards-box cards-responsive">
              <div class="cards-size"></div>
              {{#each technologies}} {{> technologyCard this }} {{/each}}
            </div>
          </div>
        </div>
        <div class="ibox float-e-margins">
          <h2>Collection Sets</h2>
        </div>
        <div class="row-fluid">
          {{#each collectionSet}} {{> projectCollection_element this}} {{/each}}
        </div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h1> <i class="fa fa-paperclip"></i> Attachments</h1>
            <div class="ibox-tools">
              <a href="#" id="manage-org-attachments">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row cards-box cards-responsive">
              <div class="cards-size"></div>
              {{#each attachments}} {{> attachmentCard this }} {{/each}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
