.manage-user-groups {
  .modal-body {
    padding: 20px 30px;
  }
}

.manage-user-item {
  margin: 15px 0;
  padding: 0px 15px;

  .row {
    .flex;
    .y-center-flex;
  }

  .img-circle {
    width: @img-circle-manage-user-groups;
    height: @img-circle-manage-user-groups;
  }

  .img-column {
    .inline-flex;
    .x-center-flex;
  }

  .user-column {
    .inline-flex;
    .x-center-flex;
    font-size: 12px;
  }

  .buttons-column { 
    .inline-flex;
    .x-right-flex;
  }

  button.btn {
    font-size: 11px;
    border-radius: 20px;
    margin-left: 5px;
  }

}