.recentUpdates {
  .list-group-item {
    .flex;

    p {
      display: inline-block; /*To fit at the same line with icon*/
      margin: 10px 0px 10px 10px;
      width: 100%;

      .date {
        float: right;
        font-style: italic;
        font-size: 0.9em;
      }
    }

    .icon-holder {
      width: 38px;
      height: 38px;
      .x-center-flex;
      .y-center-flex;      
      i{
        //margin-right: 5px;
        //font-size: 2em; /*Declaring this, instead of placing fa-3x in every icon of recentUpdates*/
        color:white
      }      
    }


    /*Matches with the 'View More' item */
    &:last-child {
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
}

// pendências:
// definir um tamanho padrão para os ícones, para alinhar com o parágrafo 
