<template name="attachmentsDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          <div class="search-source-display-mode">
            {{> searchSource source=SearchSources.globalSearch options=getOptions}} 
            {{> searchDisplayMode id='attachmentsSearch'}}
          </div>
          <div class="row grid-view">
            <div class="col col-xs-12">
              {{#if $eq (getSearchDisplayMode 'attachmentsSearch') 'list'}}
                {{#each attachments}}
                  <h3>{{{name}}}</h3>
                  <hr />
                {{/each}}
              {{/if}}
              {{#if $eq (getSearchDisplayMode 'attachmentsSearch') 'grid'}}
                <div class="row">
                  {{#each attachments}}
                    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 animated fadeInRight">
                    {{> briefCard 
                        _id=_id
                        img=imageUrl
                        icon='fa fa-file'
                        link=(pathFor 'attachments.entry' id=_id)
                        title=name }}
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='attachmentsCounter' selector=attachmentSelector initialCount=10 countIncrement=5}}
    </div>
  </div>  
</template>
