<template name="attachmentsDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          {{> searchSourceDisplay source=SearchSources.globalSearch types="attachments" displayMode='attachmentsSearch'}}
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='attachmentsCounter' selector=attachmentSelector initialCount=10 countIncrement=5}}
    </div>
  </div>
</template>

