<template name="orgTechnologies">
  {{#panelContainer class='float-e-margins' }}
    {{#panelTitle}}
      <h1>
        <i class="{{Icons.collections.technologies}}"></i>
        Technologies
      </h1>
      {{#panelTools}}
        <a href="#" id='manage-org-technologies'>
          <i class="fa fa-plus"></i>
        </a>
      {{/panelTools}}
    {{/panelTitle}}
    {{#panelContent}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Technology name</th>
          </tr>
        </thead>
        <tbody>
          {{#each technologies}}
            <tr>
              <td><a href="{{pathFor 'technologies.edit' id=_id}}">{{name}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/panelContent}}
  {{/panelContainer}}
</template>