<template name="technologiesEdit">
  <div class="row" data-template="technologies-edit-page">
    {{#if Template.subscriptionsReady}}
      {{#autoForm 
        id="update-technologies-form"
        class="form-horizontal" 
        collection="Technologies"
        doc=tech 
        type="method-update"
        autosave=false
        meteormethod="technologies.update"
        singleMethodArgument=true}} 

        <div class="col-lg-3">
          <div style="position: fixed; width: 22.5%">
            {{> technologiesInformationCard tech}}

            <div class="ibox">
              <div class="ibox-content">
                <div class="row"></div>
                {{> afQuickField name="status" type="select-radio-inline" label-class="col-sm-1" input-col-class="col-sm-12"}}
                <div class="btn-group">
                  <button type="submit" class="btn btn-sm btn-primary" data-action="save">Save</button>
                  <button type="button" class="btn btn-sm btn-outline btn-primary" data-action="undo">Cancel</button>
                  <button type="button" class="btn btn-sm btn-outline btn-primary" data-action="delete">Delete</button>
                </div>    
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          {{#panel title="Basic Information"}}

            {{> afQuickField name="name" label-class="col-sm-2" input-col-class="col-sm-10"}}
            <div class="col-sm-10 col-sm-offset-2" style="margin-top:-20px">
              <ol>
                <li>Use "Title Case": <i>Capitalize All Important Words</i>.</li>
                <li>Avoid plural titles: <i>"Solar Panels", "Self-driving Vehicles"</i></li>
                <li>Avoid empty words: <i>"Smart Car", "Next-gen Keychain", "Health 3.0"</i></li>
                <li>Avoid product names: <i>"Powerwall" → "Wall-mounted Household Battery"</i></li>
              </ol>
            </div>

            {{> afQuickField name="synonyms" label-class="col-sm-2" input-col-class="col-sm-10"}}
            <div class="col-sm-10 col-sm-offset-2" style="margin-top:-37px; padding-left:5px">
              <span class="help-block m-b-none">
                  These are alternate names for this technology. They will be accessible via search.
                </span>
            </div>

            <div class="form-group form-group-images">
              <label class="col-sm-2 control-label">Images</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-3">
                    {{> technologiesImagesInput 
                      _id=tech._id
                      onUploadSuccess=onUploadSuccess}}        
                  </div>
                  {{#each tech.images}}
                    <div class="col-sm-3 image-items">
                      {{> technologiesImagesItem 
                        image=this
                        technologyId=tech._id
                        width=180
                        height=180}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
            
            {{> afQuickField name="tags" label-class="col-sm-2" input-col-class="col-sm-10"}}
            <div class="col-sm-10 col-sm-offset-2" style="margin-top:-37px; padding-left:5px">
              <span class="help-block m-b-none">
                  These will be used to correlate with other technologies.
                </span>
            </div>
          {{/panel}}

          {{> technologiesDescriptionsPanel tech}}

          {{#panel title="Relations"}}
            {{> afQuickField name="organizationsId" label-class="col-sm-2" input-col-class="col-sm-9"}} 
            {{> afQuickField name="projectsId" label-class="col-sm-2" input-col-class="col-sm-9"}} 
            {{> attachmentsFieldInput name="attachmentsId" }}
          {{/panel}}
        </div>
      {{/autoForm}}
    {{else}}
      {{> spinnerWave}}
    {{/if}} 
  </div>
</template>