<template name="technologiesCard">
    <div class="ibox float-e-margins technology-box">
        <div class="ibox-content no-padding technology-label panel-primary">
            <div class="btn-group technology-tools">
                <button data-toggle="dropdown" class="btn btn-xs btn-outline btn-primary dropdown-toggle" aria-expanded="false">
                    <i class="fa fa-bars"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Add to Project</a> </li>
                    <li><a href="#">Add to Collection</a> </li>
                    <li><a href="#">Add an Attachment</a> </li>
                    <li><a href="#">Change status</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Add a comment</a> </li>
                    <li><a href="#">Edit status</a> </li>
                    <li class="divider"></li>
                    <li><a href="#">Edit technology</a> </li>
                    <li><a href="#">Delete technology</a></li>
                </ul>
            </div>
            {{> safeImg src=imageUrl class="img-responsive" width="400" height="400"}}

            <div class="technology-desc">
                <div class="addons-info">
                    {{#technologiesCardTooltip labelClass="label-primary" title="Attachments" }}
                        <i class="fa fa-paperclip"></i> {{attachmentsCount}}
                    {{/technologiesCardTooltip}}
                    {{#technologiesCardTooltip labelClass="label-primary" title="Organizations" }}
                        <i class="fa fa-building-o"></i> {{organizationsCount}}
                    {{/technologiesCardTooltip}}
                    {{#technologiesCardTooltip labelClass="label-primary" title="Projects" }}
                        <i class="fa fa-folder"></i> {{projectsCount}}
                    {{/technologiesCardTooltip}}
                    {{#technologiesCardTooltip labelClass="label-primary" title="Readiness" }}
                        {{readinessScore}}
                    {{/technologiesCardTooltip}}
                    {{#technologiesCardTooltip labelClass="label-primary" title="Impact" }}
                        {{impactScore}}
                    {{/technologiesCardTooltip}}
                </div>
                <div>
                    <h5 href="#" class="technology-name">{{name}}</h5>
                </div>
                <p>
                    {{shortText}}
                    <small><a href="#">More information </a></small>
                </p>
                <div class="m-t-sm">
                    {{#each tags}}
                        <button class="btn btn-white btn-xs">{{this}}</button>
                    {{/each}}
                    <button class="btn btn-xs btn-link">
                        <i class="fa fa-plus-square"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="technologiesCardTooltip">
    <span class="label {{labelClass}}" 
    data-toggle="tooltip" 
    data-placement="{{placement}}" 
    title="{{title}}">
        {{> UI.contentBlock }}
    </span>
</template>
<!--
               

                        <a href="#" class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="04 organizations">
                            <i class="fa fa-building"></i> 4</a>
                        <a href="#" class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="02 projects"><i class="fa fa-folder-o"></i> 2</a> <a href="#" class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Readiness: 4">RD 4</a> <a href="#" class="label label-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Average Industry Impact: 4">IP 4</a> </div>
                        -->
