<!--
<template name="modal">
  <div class="modal inmodal">
    <div class="modal-dialog {{#if large}}modal-lg{{/if}}">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{#if icone}}
            <i class="{{icone}} modal-icon"></i>
          {{/if}}
          {{#if avatar}}
            <img src="{{avatar}}" style="opacity:0.75;">
          {{/if}}
          <h4 class="modal-title">{{{titulo}}}</h4>
          <small>{{{subtitulo}}}</small>
        </div>
        {{>UI.contentBlock}}
      </div>
    </div>
  </div>
</template>
<template name="modalBody">
  <div class="modal-body">
    {{>UI.contentBlock}}
  </div>
</template>
<template name="modalFooter">
  <div class="modal-footer">
    {{>UI.contentBlock}}
  </div>
</template>
-->
<template name="manageModal">
  {{#modal class=class}}
    {{#modalHeader}}
      {{> modalHeaderContent icon=icon title=title subtitle=subtitle}}
    {{/modalHeader}}
    {{#modalBody}}
      {{> UI.contentBlock}}
    {{/modalBody}}
    {{#modalFooter}}
      <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
    {{/modalFooter}}
  {{/modal}}
  {{> UI.contentBlock}}
</template>

<template name="modalHeaderContent">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <i class="{{icon}} modal-icon"></i>
      <h4 class="modal-title">{{title}}</h4>
      <small>{{subtitle}}</small>
</template>

<template name="modal">
  <div class="modal inmodal {{class}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content animated fadeIn">
        {{> UI.contentBlock}}
      </div>
    </div>
  </div>
</template>
<template name="modalHeader">
  <div class="modal-header">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="modalBody">
  <div class="modal-body">
    {{> UI.contentBlock}}
  </div>
</template>
<template name="modalFooter">
  <div class="modal-footer">
    {{> UI.contentBlock}}
  </div>
</template>
