<template name="orgCardFooter">
  <div class="btn-group card-footer">
    {{#btnTooltip text="View Entry" onClick=onClickView }}
      <i class="fa fa-eye"></i>
    {{/btnTooltip}}
    {{#btnTooltip text="Private" }}
      {{capitalizeFirstLetter type}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat technologiesCount " technologies") }}
      <i class="{{Icons.collections.technologies}}"></i> {{technologiesCount}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat projectsCount " projects") }}
      <i class="{{Icons.collections.projects}}"></i> {{projectsCount}}
    {{/btnTooltip}}
    {{#btnTooltip text=(concat attachmentsCount " attachments") }}
      <i class="{{Icons.collections.attachments}}"></i> {{attachmentsCount}}
    {{/btnTooltip}}
  </div>  
</template>
