<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                        <span >
                            {{> safeImg url=(getUserThumb (s3pathImages currentUser.profile.imageId)) class="img-circle img-responsive"}} 
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                                <span class="block m-t-xs"> 
                                    <strong class="font-bold">
                                        {{currentUser.profile.fullName}}
                                    </strong>
                                </span>
                            <span class="text-muted text-xs">
                                    <b style="color:white !important;">{{{formatRole currentUser.role false}}}</b> 
                                    <b class="caret"></b>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor 'users.entry' id=currentUser._id}}">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element animated lightSpeedIn">
                        TDB
                    </div>
                </li>
                {{> menu}}
            </ul>
        </div>
    </nav>
</template>
