    <template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">

                    <div class="dropdown profile-element" style="height:150px;">
                        <!--
                        <span>
                            {{> cloudinaryThumb publicId=currentUser.profile.avatar.publicId class="image-circle" width=48 height=48}}
                            
                            
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                                <span class="block m-t-xs"> 
                                    <strong class="font-bold">{{currentUser.profile.nome}} {{currentUser.profile.sobrenome}}</strong>
                                </span> 
                                <span class="text-muted text-xs">
                                    <b style="color:white !important;">{{{formatarRole currentUser.role}}}</b> <b class="caret"></b>
                                </span> 
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor 'users.edit' id=currentUser._id}}">Editar Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="logout">Sair</a></li>
                        </ul>
                        -->
                    </div>
                    <div class="logo-element animated lightSpeedIn" style="padding:0px">
                        <img src="/patterns/header-profile-closed-trans.png">
                    </div>
                </li>
                {{#each $mapped menu}}
                  {{> MenuItem}}
                {{/each}}
            </ul>

        </div>
    </nav>
</template>


<template name="MenuItem">
    {{#if isInRole roles}}
    <li class="{{isActiveRoute regex=regex}}">
        <a href="{{#if linkTo}}{{pathFor linkTo}}{{else}}#{{/if}}"><i class={{icon}}></i> <span class="nav-label">{{name}}</span>{{#if submenu}}<span class="fa arrow"></span>{{/if}}</a>
        {{#if submenu}}
        <ul class="nav nav-second-level collapse">
            {{#each submenu}}
                {{> SubmenuItem}}
            {{/each}}            
        </ul>
        {{/if}}
    </li>
    {{/if}}
</template>


<template name="SubmenuItem">
{{#if isInRole roles}}
  <li><a href="{{pathFor linkTo}}">{{name}}</a></li>
{{/if}}
</template>
